<div class="form-group">
        <label class="col-sm-3 control-label">Email Address</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" name="email[]" placeholder="Receiver email address"/>
        </div>
        <div class="col-sm-4">
            <button type="button" class="btn btn-default addButton"><i class="fa fa-plus"></i></button>
        </div>
    </div>

    <!-- The option field template containing an option field and a Remove button -->
    <div class="form-group hide" id="optionTemplate">
        <div class="col-sm-offset-3 col-sm-5">
            <input class="form-control" type="text" name="email[]" placeholder="Receiver email address"/>
        </div>
        <div class="col-sm-4">
            <button type="button" class="btn btn-default removeButton"><i class="fa fa-minus"></i></button>
        </div>
    </div>