{% extends "layout.html" %}
{% block body %}

<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/dataTables.bootstrap.css')}}">
<script type="text/javascript" src="{{url_for('static',filename='js/jquery.dataTables.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static',filename='js/dataTables.bootstrap.js')}}"></script>

<script type="text/javascript">
$(document).ready(function(){
	$('a[delete=1]').click(function()
    {
    	info = $(this).attr("info");
    	if (confirm('You want to delete ' + info)) {
    		href = $(this).attr("path")
    		window.location.href=href;
    	};
    });

  $('table.table').each(function(i,d)
    {
      if ($(this).attr("id") == undefined) {
                    // console.log($(this));
            $(this).dataTable({
                        // "searching":false,
                        // "paging":false,
                        // "bFilter": false,
          });
        };
    });
});
</script>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Itemtypes for {{name}}</div>
		{% include 'item/itindex.html' %}
</div>
{% endblock %}