{% extends "layout.html" %}
{% block body %}

<script type="text/javascript">
$(document).ready(function(){
    $("#myTab a").click(function(e){
        e.preventDefault();
        $(this).tab('show');
    });
    $('a[delete=1]').click(function()
    {
    	info = $(this).attr("info");
    	if (confirm('You want to delete ' + info)) {
    		href = $(this).attr("path")
    		window.location.href=href;
    	};
    	
    });
});
</script>

<ul class="nav nav-tabs" id="myTab">
  <li role="presentation" class="active"><a href="#area">Area</a></li>
  <li role="presentation"><a href="#service">Service</a></li>
  <li role="presentation"><a href="#host">Host</a></li>
  <li role="presentation"><a href="#itemtype">itemtype</a></li>
  <li role="presentation"><a href="#trigger">trigger</a></li>
</ul>

<div class="tab-content">
	<div id="area" class="tab-pane fade in active">
		<div class="panel panel-default">
		  <!-- Default panel contents -->
		  	<table class="table table-striped">
					<thead>
						<th>#</th>
						<th>Area Name</th>
						<th>Itemtype</th>
						<th>Delete</th>
						<!-- <th>Hosts</th> -->
					</thead>
					<tbody>
						{% for a in area %}
						<tr>
							<td>{{a.areaid}}</td>
							<td>{{a.areaname}}</td>
							<td><a href="/item/area/itemtype/{{a.areaid}}">Itemtype</a></td>
							<td><a href="#" path="/item/area/delete/{{a.areaid}}" info="area:{{a.areaname}}" delete="1">delete</a></td>
						</tr>
						{% endfor %}
					</tbody>
			</table>
		</div>
	</div>
	<div id="service" class="tab-pane fade">
		<div class="panel panel-default">
		  <!-- Default panel contents -->
		  	<table class="table table-striped">
					<thead>
						<th>#</th>
						<th>Service Name</th>
						<th>Hosts</th>
						<th>Itemtype</th>
						<th>Delete</th>
					</thead>
					<tbody>
						{% for s in service %}
						<tr>
							<td>{{s.serviceid}}</td>
							<td>{{s.servicename}}</td>
							<td><a href="/item/service/host/{{s.serviceid}}">hosts</a></td>
							<td><a href="/item/service/itemtype/{{s.serviceid}}">Itemtype</a></td>
							<td><a href="#" path="/item/service/delete/{{s.serviceid}}" info="service:{{s.servicename}}" delete="1">delete</a></td>
						</tr>
						{% endfor %}
					</tbody>
			</table>
		</div>
	</div>
	<div id="host" class="tab-pane fade">
		<div class="panel panel-default">
		  <!-- Default panel contents -->
		  	{% include 'item/hostindex.html' %}
		</div>
	</div>
	<div id="itemtype" class="tab-pane fade">
		<div class="panel panel-default">
		  <!-- Default panel contents -->
		  	{% include 'item/itindex.html' %}
		</div>
	</div>
	<div id="trigger" class="tab-pane fade">
		<div class="panel panel-default">
		  <!-- Default panel contents -->
		  	<table class="table table-striped">
					<thead>
						<th>#</th>
						<th>formula</th>
						<th>triggerfunction</th>
						<th>triggervalue</th>
						<th>timeshift</th>
						<th>actions</th>
					</thead>
					<tbody>
						{% for t in trigger %}
						<tr>
							<td>{{t.triggerid}}</td>
							<td>{{t.calcitem.formula}}</td>
							<td>{{t.triggerfunction}}</td>
							<td>{{t.triggervalue}}</td>
							<td>{{t.timeshift}}</td>
							<td>
								{% for a in t.actions.all() %}
								{{ a.actionname }}
								{% endfor %}
							</td>
							<td><a href="#" path="/item/trigger/delete/{{t.triggerid}}" info="key:{{t.triggerid}}" delete="1">delete</a></td>
						</tr>
						{% endfor %}
					</tbody>
			</table>
		</div>
	</div>
</div>





<a href='{{url_for("item.area")}}'>Add Area</a>
<a href='{{url_for("item.service")}}'>Add Service</a>
<a href='{{url_for("item.host")}}'>Add Host</a>
<a href='{{url_for("item.itemtype")}}'>Add Key</a>
<a href='{{url_for("item.trigger_action")}}'>Add Trigger</a>
{% endblock %}
