{% extends "layout.html" %}
{% block body %}

<script type="text/javascript">
$(document).ready(function() {

    $('input[type=radio][name=usetype]').click(function()
    {
        $('div[dynamicadd=1]').remove();   
        $("input[type=radio][name=usetype]").each(function(i,d){
            // console.log("D.VALUE",d.value);
            if (d.checked) {
                // console.log("D.VALUE",d.value);
                if (d.value==2) {
                    // alert("use elb type");
                    $('div[udf=useservice]').hide();
                    $('#forsaving').modal({
                        keyboard: false
                    });
                    $('#forsaving').modal('show');

                    areaid = $('select[name=areaid]').val();
                    $.getJSON('/item/elbforarea',{areaid:areaid},function(data)
                    {
                        $('#forsaving').modal('hide');
                        if (data.length == 0) {
                            htmltag =   '<div class="form-group" udf="useelb" dynamicadd=1><label class="col-sm-3 control-label" >ELB results</label><div class="col-sm-5"><input type="text" class="form-control"  placeholder="ELB not found" name="elbname" disabled></div></div>';
                        }
                        else
                        {
                            htmlhead =   '<div class="form-group" udf="useelb" dynamicadd=1><label class="col-sm-3 control-label" >ELB results</label><div class="col-sm-5"><select class="form-control"  name="elbname">';
                            htmlbody = ''
                            for (i = 0 ; i < data.length ; i ++) {
                                htmlbody += '<option value="' + data[i] + '">' + data[i] + '</option>';
                            };
                            htmltail = '</select></div></div>'
                            htmltag = htmlhead + htmlbody + htmltail;
                            anothertag = '<div class="form-group" dynamicadd=1><div class="col-sm-5 col-sm-offset-3"><label class="checkbox-inline"><input type="checkbox" name="addhost" value="1">add host register in this elb</label></div></div>'
                            htmltag += anothertag;
                        }
                        $('div[udf=useservice]').after(htmltag);
                    });
                }
                else
                {
                    $('div[udf=useservice]').show();
                }
            }
        });
    });
});
</script>

<form id="fieldIconsForm" class="form-horizontal" method="POST" action="">


    <div class="form-group">
        <label class="col-sm-3 control-label" >Select Area</label>
        <div class="col-sm-5">
            <select class="form-control"  name="areaid">
                {% for a in area %}
                    <option value="{{a.areaid}}">{{a.areaname}}</option>
                {% endfor %}
            </select>
            
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Type</label>
        <div class="col-sm-5">
            <label class="radio-inline">
                    <input type="radio" name="usetype" value="1" checked>Use Service tag
            </label>
            <label class="radio-inline">
                    <input type="radio" name="usetype" value="2">Use ELB type
            </label>
        </div>
    </div>

    <div class="form-group" udf="useservice">
        <label class="col-sm-3 control-label" >Service Name</label>
        <div class="col-sm-5">
            <input type="text" class="form-control"  placeholder="Input Service Name" name="servicename">
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-5 col-sm-offset-3">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </div>
</form>

{% include 'saving.html' %}
{% endblock %}