{% extends "layout.html" %}
{% block body %}
<link href="{{url_for('static',filename='css/trigger.css')}}" rel="stylesheet"></link>
<script type="text/javascript" src="{{url_for('static',filename='js/highstock.js')}}"></script>
<script type="text/javascript" src="{{url_for('static',filename='js/chart.js')}}"></script>
<script type="text/javascript" src="{{url_for('static',filename='js/window_base.js')}}"></script>
<script type="text/javascript" src="{{url_for('static',filename='js/email.js')}}"></script>

<link type="text/css" href="{{url_for('static',filename='css/window_base.css')}}" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/bootstrap-glyphicons.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/bootstrap-datetimepicker.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/jquery-ui.min.css')}}">
<script type="text/javascript" src="{{url_for('static',filename='js/moment.js')}}"></script>
<script type="text/javascript" src="{{url_for('static',filename='js/bootstrap-datetimepicker.js')}}"></script>
<script type="text/javascript" src="{{url_for('static',filename='js/jquery-ui.min.js')}}"></script>
<script type="text/javascript">
$(function () {


    display_chart_modal_selector = '#forchooseitem';

    confrim_item_class = 'confirm';
    confirm_item_selector = 'button.' + confrim_item_class;

    flash_class = 'alert';
    flash_selector = 'div.' + flash_class;

    generateformula_button_selector = 'a[udf="generateformula"]';


    scale_selector = '#formulascale';
    scaleoperator_selector = 'select[name="scaleoperator"]';
    first_itemids_selector = '#formulaitemfirst';
    fs_operator_selector = 'select[name="firstsecondoperator"]';
    second_itemids_selector = '#formulaitemsecond';
    brackets_position_selector = 'select[name=bracketsposition]';

    var current_selector = null;

    var f = new window_base(($(window).height() - $('div.navbar-static-top').height() + 25)* 0.8);

    f.set_allow_check_multiple(false);

    $(document).on('click',first_itemids_selector,function()
    {
        current_selector = first_itemids_selector;
        $(display_chart_modal_selector).modal({
            keyboard: false
        });
        $(display_chart_modal_selector).modal('show');
    });

    $(document).on('click',second_itemids_selector,function()
    {
        current_selector = second_itemids_selector;
        $(display_chart_modal_selector).modal({
            keyboard: false
        });
        $(display_chart_modal_selector).modal('show');
    });


    function selected_metric_2_name(current_selected_metrics)
    {
        var name = '';
        for (var option in current_selected_metrics)
        {
            // console.log(selected_metric_result[option]);
            for (var table_title in current_selected_metrics[option])
            {
                // console.log(table_title);
                var metric_count = current_selected_metrics[option][table_title]['metric_count'];
                if (metric_count > 0) {
                    var table_head = current_selected_metrics[option][table_title]['table_head'];

                    for (var metric_index in current_selected_metrics[option][table_title]['metric_result']) {
                    // console.log(selected_metric_result[option][table_title]['metric_result'][metric_index]);
                        var name_str = '';
                        name_str = current_selected_metrics[option][table_title]['metric_result'][metric_index][table_head.indexOf('Metric Name')];
                        name += name_str + ';';
                    };
                };
            }
        }
        // console.log(name);
        return name;
    }


    $(document).on('click',confirm_item_selector,function()
    {
        $(display_chart_modal_selector).modal('hide');
        

        var selected_metric_result;
        var chart_config;

        selected_metric_result = jQuery.extend(true, {}, f.get_selected_metric_result());
        chart_config = jQuery.extend(true, {}, f.get_chart_config());

        selected_metrics_2_item_list(selected_metric_result);
    });

    // function add_message_2_flash(message,type)
    // {
    //     console.log($(flash_selector));
    //     result_str = '';
    //     result_str += '<button type="button" class="close" data-dismiss="alert">&times;</button>';
    //     result_str += message;

    //     $(flash_selector).append(result_str);

    //     setTimeout(function()
    //     {
    //         $(flash_selector).empty();
    //         $(flash_selector).removeClass('alert-' + type);
    //     },5000)
    // }

    function item_render(item_list)
    {
        var item_list_str = item_list.join('@');
        $(current_selector).attr('value',item_list_str);
    }


    function selected_metrics_2_item_list(selected_metric_result)
    {
        var option = {
            url: '/chart/smr2item', 
            type: 'POST',
            data: JSON.stringify({'selected_metrics':selected_metric_result}),  
            dataType: 'json', 
            contentType : 'application/json', 
            success: function (data) {
                console.log(data);
                if (data.convert_result_bool) {
                    item_render(data.convert_result);
                }
            }
        };
        $.ajax(option);
    }

    $(display_chart_modal_selector).on('shown.bs.modal', function () {
        if (f.get_display_chart() != undefined) {
            f.update_call();
        };
    });

    $(display_chart_modal_selector).on('hidden.bs.modal',function()
    {
        if (f.get_display_chart() != undefined) {
            f.get_display_chart().clear_chart();
        };
    });

    $(generateformula_button_selector).click(function()
    {
        scale = $(scale_selector).val();
        scaleoperator = $(scaleoperator_selector).val();
        first_itemids = $(first_itemids_selector).val();
        fs_operator = $(fs_operator_selector).val();
        second_itemids = $(second_itemids_selector).val();
        brackets_position = $(brackets_position_selector).val();

        $.getJSON('/item/generateformula',{scale:scale,scaleoperator:scaleoperator,first_itemids:first_itemids,fs_operator:fs_operator,second_itemids:second_itemids,brackets_position:brackets_position},function(data)
        {
            //console.log(data);
            $('textarea[name=formula]').val(data);
        });
    });

    // $('select[name="selectedaction"]').change(function()
    // {
    //     value = $('select[name="selectedaction"]').val();
    //     alert(value);
    //     // $('textarea[name="command"]').val(value);
    // })

    $('div[case="actiontype"]').hide();
    $('div[udf=at1]').show();
    $('select[name=kinds]').click(function()
    {
        value = $(this).val();
        $('div[case="actiontype"]').hide();
        $('div[udf=at' + value + ']').show();
        if (value == 2) {
            loadfirstareaasg();
        };
    });

    // // loadfirstareaasg();

    function loadfirstareaasg()
    {
        value = $('select[name="areaid"]').val();
        loadautoscalegroup(value);
    }

    function loadautoscalegroup(areaid)
    {
        $('select[name="asgname"]').empty();
        $('select[name="asgname"]').append('<option>loading...</option>');
        $.getJSON('/item/autoscalegroup',{areaid:areaid},function(data)
        {
            $('select[name="asgname"]').empty();
            for(datait = 0 ; datait < data.length ; datait ++)
            {
                $('select[name="asgname"]').append('<option value=' + data[datait] + '>' + data[datait] + '</option>');
            }
        });
    }

    $('select[name="areaid"]').change(function()
    {
        value = $('select[name="areaid"]').val();
        loadautoscalegroup(value);
    });

    $(document).on('click','input[name=receivers]',function()
    {
        $('#foremailaddress').modal({
            keyboard: false
        });
        $('#foremailaddress').modal('show');
    });

    $(document).on('click','button.confirmemailaddress',function()
    {
        $('#foremailaddress').modal('hide');
        email_arr = [];
        $('input[name="email[]"]').each(function(i,d)
        {
            if (d.value.length > 0) {
                email_arr.push(d.value);
            };
        });
        tmp_str = email_arr.join(';');
        $('input[name="receivers"]').attr('value',tmp_str);
        // console.log(tmp_str);
    })

})
</script>

<form id="fieldIconsForm" class="form-horizontal" method="POST" action="">

    <div class="form-group">
        <label class="col-sm-2 control-label"> Calculated Item</label>
        <!-- <div class="col-sm-4"> -->
            <!-- <input type="text" class="form-control" placeholder="generated calculated formula" name="calcexpression" disabled> -->
        <!-- </div> -->

        <!-- {% include 'item/calculateitem.html'%} -->
            
        <div class="col-sm-2">
            <input type="text" class="form-control" id="formulascale" placeholder="Scale" value="1">
        </div>

        <div class="col-sm-1">
            <select class="form-control" name="scaleoperator">
                <option value="*">*</option>
                <option value="-">-</option>
                <option value="+">+</option>
                <option value="/">/</option>
            </select>
        </div>

        <div class="col-sm-3">
            <input type="text" class="form-control" id="formulaitemfirst" placeholder="click to choose" readonly name="formulaitemfirst">
        </div>

        <div class="col-sm-1">
            <select class="form-control" name="firstsecondoperator">
                <option value="/">/</option>
                <option value="-">-</option>
                <option value="*">*</option>
                <option value="+">+</option>
            </select>
        </div>

        <div class="col-sm-2">
            <input type="text" class="form-control" id="formulaitemsecond" placeholder="click to choose" readonly name="formulaitemsecond">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">brackets position</label>
        <div class="col-sm-9">
            <select class="form-control" name="bracketsposition">
                <option value="2">scale op1 (itemfirst op2 itemsecond)</option>
                <option value="1">(scale op1 itemfirst) op2 itemsecond</option>
                
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label"> generated items</label>
        <div class="col-sm-7">
            <textarea type="text" class="form-control" name="formula" rows="4" required></textarea>
        </div>
        <div class="col-sm-2">
            <a href="#" class="form-control" udf="generateformula">generate</a>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label"> trigger function </label>
        <div class="col-sm-9">
            <select class="form-control" name="triggerfunction">
                <option value="min">min</option>
                <option value="max">max</option>
                <option value="avg">avg</option>
                <option value="last">last</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Compare type</label>
        <div class="col-sm-9">
            <select class="form-control" name="comparetype">
                <option value=">">></option>
                <option value="<"><</option>
                <option value="=">=</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label"> trigger value</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" placeholder="input value" name="triggervalue">
        </div>
    </div>

    

    <div class="form-group">
        <label class="col-sm-2 control-label"> timeshift </label>
        <div class="col-sm-9">
            <input type="text" class="form-control" placeholder="input timeshift in seconds" name="timeshift">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label"> action type </label>
        <div class="col-sm-9">
            <!-- <label class="radio-inline"> -->
                <!-- <input type="radio" name="kinds" value="1" checked>auto scale -->
            <!-- </label> -->
            <!-- <label class="radio-inline"> -->
                <!-- <input type="radio" name="kinds"  value="2">load from history -->
            <!-- </label> -->
            <select class="form-control" name="kinds">
                <option value="1">notification by email</option>
                <option value="2">autoscale</option>
            </select>
        </div>
    </div>

    <div class="form-group" udf="at2" case="actiontype" hidden>
        <label class="col-sm-2 control-label">asg config</label>
        <div class="col-sm-3">
            <select class="form-control" name="areaid">
                {% for a in index_result.area %}
                    <option value="{{a.areaid}}" bring="{{a.areaname}}">{{a.areaname}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-sm-4">
            <select class="form-control" name="asgname">
            </select>
        </div>
        <div class="col-sm-2">
            <select class="form-control" name="asgtype">
                <option value="0">UP</option>
                <option value="1">DOWN</option>
            </select>
        </div>
    </div>

    <div class="form-group" udf="at1" case="actiontype" hidden>
        <label class="col-sm-2 control-label">receivers</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" name="receivers" placeholder="click to add" readonly>
        </div>
    </div>

    
    <div class="form-group">
        <div class="col-sm-9 col-sm-offset-2">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </div>
</form>

<div class="modal fade" id="forchooseitem" tabindex="-1" role="dialog" aria-labelledby="chooseitem" aria-hidden="true">
  <div class="modal-dialog large">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="chooseitem">Choose monitor items</h4>
      </div>
      <div class="modal-body">
        {% include 'chart/window_main.html'%}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary confirm">Choose</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="foremailaddress" tabindex="-1" role="dialog" aria-labelledby="emailaddress" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="emailaddress">Add email address</h4>
      </div>
      <div class="modal-body">
        <form id="fieldIconsForm" class="form-horizontal" method="" action="">
            {% include 'email.html'%}
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary confirmemailaddress">Confirm</button>
      </div>
    </div>
  </div>
</div>



{% endblock %}