


.basicmetrics-panel
{
	overflow:scroll;
    height:400px; 
    overflow-x:hidden;
}

/*.col-md-10.col-md-offset-2.main
{
	min-height: 800px;
}*/

.panel.panel-default
{
	margin-bottom: 10px;
}


.dataTables_filter{
  display: none; 
}

