

<div class=indexBoard>
    <div class="index-header">
    <ul class="nav nav-pills">
      
      <li class="active" choose="monitorWindowLi" type="service">
        <a class=indexbutton name='service' data-toggle="pill" data-placement="left" title=""  >Service<span class="badge" indextype="service"></span></a>
      </li>

      <li class="" choose="monitorWindowLi" type="aws">
        <a class=indexbutton name='aws' data-toggle="tooltip" data-placement="left" title=""  >Aws<span class="badge" indextype="aws"></span></a>
      </li>
      <li class="" choose="monitorWindowLi" type="area"> 
        <a class=indexbutton name='area' data-toggle="pill" data-placement="left" title="" >Area<span class="badge" indextype="area"></span></a>
      </li>
    </ul>
  </div>
  <div style="margin-top:10px;">
    <div class="IndexDiv" type='service'>
      {% for s in index_result.service %}
        <div class="col-sm-3" style="padding-left:0px;">
          <label class="checkbox-inline no_indent" >
            <input type="checkbox" locate="index" indextype="service" value="{{s.service.serviceid}}" name="{{s.service.servicename}}" ><div type="displayname" indextype="service" value="{{s.service.serviceid}}" name="{{s.service.servicename}}" tabindex="0" role="button" data-toggle="popover" data-trigger="manual" title="hosts for <strong>{{s.service.servicename}}</strong>">{{s.service.servicename}}</div>
          </label>
        </div>
        <div serviceid="{{s.service.serviceid}}" style="display:None" info="servicepopover">
          <table class="table">
          {% for h in s.host %}
              <tr>
                  <td><input type="checkbox" serviceid="{{s.service.serviceid}}" locate="popover" indextype="host" value="{{h.hostid}}" name="{{h.hostname}}"></td>
                  <td>{{h.hostname}}</td>
                  <td>{% if h.available == 2 %}
                      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" style="color:#a94442"></span>
                      {% elif h.available == 1%}
                      <span class="glyphicon glyphicon-ok-sign" aria-hidden="true" style="color:#3c763d"></span>
                      {% endif %}
                  </td>
              </tr>
          {% endfor %}
        </table></div>
      {% endfor %}
    </div>


    <div class="IndexDiv" type='aws'>
      {% for a_n in index_result.aws %}
        <div class="col-sm-3" style="padding-left:0px;">
          <label class="checkbox-inline no_indent">
            <input type="checkbox" locate="index" indextype="aws" value="{{a_n.awsid}}" name="{{a_n.awsname}}" ><div type="displayname" indextype="aws" value="{{a_n.awsid}}" name="{{a_n.awsname}}">{{a_n.awsname}}</div>
          </label>
        </div>
      {% endfor %}
    </div>

    <div class="IndexDiv" type='area'>
      {% for a in index_result.area %}
        <div class="col-sm-3" style="padding-left:0px;">
          <label class="checkbox-inline no_indent">
            <input type="checkbox" locate="index" indextype="area" value="{{a.areaid}}" name="{{a.areaname}}" ><div type="displayname" indextype="area" value="{{a.areaid}}" name="{{a.areaname}}">{{a.areaname}}</div>
          </label>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
<div class="chooseresult">
</div>
<div class="row">
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Application data</h3>
      </div>
      <div class="panel-body" itemdatatype="Application data"></div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Countings</h3>
      </div>
      <div class="panel-body" itemdatatype="Counting"></div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Others</h3>
      </div>
      <div class="panel-body" itemdatatype="Other"></div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Healthy data: CPU</h3>
      </div>
      <div class="panel-body" itemdatatype="CPU data"></div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Healthy data: Memory</h3>
      </div>
      <div class="panel-body" itemdatatype="Memory data"></div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Healthy data: Connections</h3>
      </div>
      <div class="panel-body" itemdatatype="Connections"></div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Aws fee</h3>
      </div>
      <div class="panel-body" itemdatatype="AWS fee data"></div>
    </div>
  </div>
</div>

