{% extends "layout.html" %}
{% block body %}
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/jquery-ui.min.css')}}">
<link href="{{url_for('static',filename='css/font-awesome.min.css')}}" rel="stylesheet" media="screen"></link>
<link href="{{url_for('static',filename='css/jquery.jspanel.min.css')}}" rel="stylesheet" media="screen"></link>

<script type="text/javascript" src="{{url_for('static',filename='js/vis.min.js')}}"></script>
<style type="text/css" src="{{url_for('static',filename='css/vis.min.css')}}"></style>
<style type="text/css">
/* sidebar */
.bs-docs-sidebar {
    padding-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* all links */
.bs-docs-sidebar .nav>li>a {
    color: #999;
    border-left: 2px solid transparent;
    padding: 4px 20px;
    font-size: 13px;
    font-weight: 400;
}

/* nested links */
.bs-docs-sidebar .nav .nav>li>a {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 30px;
    font-size: 12px;
}

/* active & hover links */
.bs-docs-sidebar .nav>.active>a, 
.bs-docs-sidebar .nav>li>a:hover, 
.bs-docs-sidebar .nav>li>a:focus {
    color: #563d7c;                 
    text-decoration: none;          
    background-color: transparent;  
    border-left-color: #563d7c; 
}
/* all active links */
.bs-docs-sidebar .nav>.active>a, 
.bs-docs-sidebar .nav>.active:hover>a,
.bs-docs-sidebar .nav>.active:focus>a {
    font-weight: 700;
}
/* nested active links */
.bs-docs-sidebar .nav .nav>.active>a, 
.bs-docs-sidebar .nav .nav>.active:hover>a,
.bs-docs-sidebar .nav .nav>.active:focus>a {
    font-weight: 500;
}

.page-header {
    border-bottom: solid 1px #aaa; 
}

/* hide inactive nested list */
.bs-docs-sidebar .nav ul.nav {
    display: none;           
}
/* show active nested list */
.bs-docs-sidebar .nav>.active>ul.nav {
    display: block;           
}

.node-panel-content{
    height: 100%;
    overflow:scroll;
    overflow-x:hidden;
}
</style>
<script type="text/javascript" src="{{url_for('static',filename='js/jquery-ui.min.js')}}"></script>
<!-- loading Bootstrap javascript (required only when you intend to use option.bootstrap) -->
<script type="text/javascript" src="{{url_for('static',filename='js/jquery.jspanel.min.js')}}"></script>
<script type="text/javascript">
$(document).ready(function()
{
    var nodes = [
            {id: 'web', label: 'web'
            ,value: 2
            , x: 200, y: 200
        ,color: '#c9ffc7',title:'web'},
            {id: 'control', label: 'control'
            ,value: 2
            , x: 0, y: 300
        ,color: '#c9ffc7'},
            {id: 'relay', label: 'relay'
            ,value: 2
            , x: 400, y: 200
        ,color: '#c9ffc7'},
            {id: 'stun', label: 'stun'
            ,value: 2
            , x: 600, y: 300
        ,color: '#c9ffc7'},
            {id: 'cas', label: 'cas'
            ,value: 2
            , x: 100, y: 400
        ,color: '#c9ffc7'},
            {id: 'dbs', label: 'dbs'
            ,value: 2
            , x: 400, y: 400
        ,color: '#c9ffc7'},
        {id: 'webpage', label: 'webpage'
            ,value: 1
            , x: 0, y: 125
        },
        {id: 'android', label: 'android'
            ,value: 1
            , x: 60, y: 100
        },
        {id: 'ios', label: 'ios'
            ,value: 1
            , x: 120, y: 75
        },
        {id: 'mac', label: 'mac'
            ,value: 1
            , x: 180, y: 50
        },
        {id: 'winie', label: 'winie'
            ,value: 1
            , x: 240, y: 25
        },
        {id: 'winnonie', label: 'winnonie'
            ,value: 1
            , x: 300, y: 0
        },
        {id: 'dut200', label: 'dut200'
            ,value: 1
            , x: 360, y: 25
        },
        {id: 'dut220', label: 'dut220'
            ,value: 1
            , x: 420, y: 50
        },
        {id: 'dut250', label: 'dut250'
            ,value: 1
            , x: 480, y: 75
        },
        {id: 'dut350', label: 'dut350'
            ,value: 1
            , x: 540, y: 100
        },
        {id: 'dut450', label: 'dut450'
            ,value: 1
            , x: 600, y: 125
        },
        // {id: 'client', label: 'client'
        //     , x: 1100, y: 0
        // },
    ];

    // create an array with edges
    var request_edges = [
        // {from: 'web', to: 'control'},
        // {from: 'web', to: 'cas'},
        // {from: 'web', to: 'dbs'},
        // {from: 'control', to: 'cas'},
        // {from: 'control', to: 'dbs'},
        // {from: 'relay', to: 'cas'},
        // {from: 'cas', to: 'dbs'},
        // {from: 'webpage', to: 'web'},
        // {from: 'android', to: 'web'},
        // {from: 'android', to: 'relay'},
        // {from: 'ios', to: 'relay'},
        // {from: 'ios', to: 'web'},
        // {from: 'mac', to: 'relay'},
        // {from: 'winie', to: 'relay'},
        // {from: 'winnonie', to: 'relay'},
        // {from: 'dut200', to: 'relay'},
        // {from: 'dut220', to: 'relay'},
        // {from: 'dut250', to: 'relay'},
        // {from: 'dut350', to: 'relay'},
        // {from: 'dut450', to: 'relay'},
        // {from: 'client', to: 'stun'},
    ];

    var base_node = ['web', 'control', 'cas', 'stun', 'relay', 'dbs'];

    var default_edges = [
        {from: 'web', to: 'control', color: '#bbb', style:'dash'},
        {from: 'web', to: 'cas', color: '#bbb', style:'dash'},
        {from: 'web', to: 'dbs', color: '#bbb', style:'dash'},
        {from: 'control', to: 'cas', color: '#bbb', style:'dash'},
        {from: 'control', to: 'dbs', color: '#bbb', style:'dash'},
        {from: 'relay', to: 'cas', color: '#bbb', style:'dash'},
        {from: 'cas', to: 'dbs', color: '#bbb', style:'dash'},
    ]

    var error_response_edges = [
        // {to: 'web', from: 'control',color: 'red',width: 1},
        // {to: 'web', from: 'cas',color: 'red',width: 1},
        // {to: 'web', from: 'dbs',color: 'red',width: 1},
        // {to: 'control', from: 'cas',color: 'red',width: 1},
        // {to: 'control', from: 'dbs',color: 'red',width: 1},
        // {to: 'relay', from: 'cas',color: 'red',width: 1},
        // {to: 'cas', from: 'dbs',color: 'red',width: 1},
    ];

    // var request_response_edges = request_edges.concat(error_response_edges);
    var request_response_edges = [];


    var container = document.getElementById('mynetwork');
    var request_data = {
        nodes: nodes,
        edges: request_edges,
    };
    var error_response_data = {
        nodes: nodes,
        edges: error_response_edges
    }
    var request_response_data = {
        nodes: nodes,
        edges: request_response_edges
    }
    var options = {
        // width: '1020px',
        height: '600px',
        edges: {style:"arrow-center", widthSelectionMultiplier: 4, arrowScaleFactor: 1.2},
        nodes: {shape:'box',radius: 5
        },
        hover: true
    };
    var network = new vis.Network(container, request_response_data, options);

    // console.log(network.nodes);
    // console.log(network.nodes['cas'].edges[0].options.color.color);

    var last_s2s_type = 'Request&Response';
    var current_s2s_type = 'Request&Response';

    load_s2s_data();
    var current_s2s_data;

    function load_s2s_data () {
        // body...
        $.getJSON('/chart/overall/s2s',function(data)
        {
            // console.log(data);
            if (data.get_result_bool) {
                current_s2s_data = data.get_result;
                draw_s2s_data(data.get_result, false);
            } else{
                add_message_2_page(data.info,'danger');
            };
        })
    }

    // setTimeout(load_mhd_data, 5000);
    // setTimeout(load_bhd_data, 5000);
    // setTimeout(load_cd_data, 5000);

    

    var load_count = 0;

    var load_interval = setInterval(function()
    {
        switch(load_count){

            case 0:
                load_mhd_data();
                break;

            case 1:
                load_bhd_data();
                break;

            case 2:
                load_cd_data();
                break;

            default:
                clearInterval(load_interval);
                break;
        }

        load_count += 1;
    }, 5000)

    // load_mhd_data();
    // load_bhd_data();
    // load_cd_data();


    function load_mhd_data()
    {
        $.getJSON('/chart/overall/mhd', function(data)
        {
            // console.log(data);
            if (data.get_result_bool) {
                draw_mhd_data(data.get_result);
            } else{
                add_message_2_page(data.info,'danger');
            };
        });
    }

    var node_mhd_table_dict = {};

    function byte_2_str (bytes) {
        // body...
        if (bytes < 1024) {
            return bytes;
        }

        if (bytes < 1048576) {
            return parseFloat(bytes/1024).toFixed(2) + 'K';
        }

        if (bytes < 1073741824) {
            return parseFloat(bytes/1024/1024).toFixed(2) + 'M';
        };

        return parseFloat(bytes/1024/1024/1024).toFixed(2) + 'G';


    }

    function parse_clock_2_str(UNIX_timestamp){
        var a = new Date(UNIX_timestamp*1000);
        var months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];
        var year = a.getFullYear();
        var month = months[a.getMonth()];
        var date = a.getDate();
        var hour = a.getHours();
        var min = a.getMinutes();
        var sec = a.getSeconds();
        var time = date + ',' + month + ' ' + year + ' ' + hour + ':' + min + ':' + sec ;
        return time;
    }

    function get_node_mhd_table_from_data (s_data) {
        // body...
        var result_str = '';

        result_str += '<li>Instance mechine data are as follows:'
        result_str += '<table class="table table-bordered" style="width: 95%;">';
        result_str += '<thead>';
        result_str += '<tr>';
        result_str += '<td>IP</td>';
        result_str += '<td>Max Cpu Used</td>';
        result_str += '<td>Min Available Used</td>';
        result_str += '<td>Net in</td>';
        result_str += '<td>Net out</td>';
        result_str += '<td>Available</td>';
        result_str += '</tr>';
        result_str += '</thead>';
        result_str += '<tbody>';

        var tmp_dict = {
            'CPU idle time' : 0,
            'Available memory' : 1,
            'net.if.in[eth0]': 2,
            'net.if.out[eth0]': 3,
            'available' : 4
        }

        for (h in s_data) {
            result_str += '<tr>';
            result_str += '<td>' + h + '</td>';


            var tmp_td_str_arr = ['<td></td>', '<td></td>', '<td></td>', '<td></td>', '<td></td>'];

            for(m in s_data[h])
            {
                var tmp_str = '';
                if (s_data[h][m].length != undefined) {

                    switch(m){
                        case 'CPU idle time':
                            tmp_str = '<td>' + parseFloat(100 - s_data[h][m][0][3]).toFixed(2) + '%</td>';
                            break;

                        case 'Available memory':
                            tmp_str = '<td>' + byte_2_str(s_data[h][m][0][3]) + 'B</td>';
                            break;

                        case 'net.if.in[eth0]':
                            tmp_str = '<td>' + byte_2_str(s_data[h][m][0][4] * 7.5) + 'B</td>';
                            break;

                        case 'net.if.out[eth0]':
                            tmp_str = '<td>' + byte_2_str(s_data[h][m][0][4] * 7.5) + 'B</td>';
                            break;

                        default:
                            tmp_str = '<td>' +  s_data[h][m][0][1] + '</td>';
                            break;
                    }

                }
                else
                {
                    if (s_data[h][m] == 1) {
                        tmp_str = '<td><span class="glyphicon glyphicon-ok-sign" aria-hidden="true" style="color:#3c763d"></span></td>';
                    }
                    else if(s_data[h][m] == 2)
                    {
                        tmp_str = '<td><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" style="color:#a94442"></span></td>';
                    }
                    else
                    {
                        tmp_str = '<td><span class="glyphicon glyphicon-question-sign" aria-hidden="true" ></span></td>';
                    }
                }


                tmp_td_str_arr[tmp_dict[m]] = tmp_str;
            }


            var total_str = '';
            for (var i = 0; i < tmp_td_str_arr.length; i++) {
                total_str += tmp_td_str_arr[i];
            };

            result_str += total_str;
            result_str += '</tr>';
        };


        result_str += '</tbody>';
        result_str += '</table>';
        result_str += '</li>';
        return result_str;
    }

    function draw_mhd_data(mhd_data)
    {
        node_mhd_table_dict = {};
        for(s in mhd_data)
        {
            node_mhd_table_dict[s] = get_node_mhd_table_from_data(mhd_data[s]);
        }

    }

    var node_bhd_table_dict = {};

    function get_node_bhd_table_from_data (s_data, s) {
        // body...
        var result_str = '';
        // result_str += '<li>Business Health Data are as follows:';
        // result_str += '<ul style="margin:0px;">';
        // console.log(s_data);
        if (s_data.length > 0) {
            blink_node(s, 10, 500);
        }

        for (var i = 0; i < s_data.length; i++) {
            result_str += '<li>' + parse_clock_2_str(s_data[i][3]) + s_data[i][0] + '(' + s_data[i][1] + ')' + ' with metric name: <strong>' + s_data[i][2] + '</strong> produced alarmed value:<font color="red"><b>' + s_data[i][4] + '</b></font></li>'; 
        };



        // result_str += '</ul>'

        // result_str += '</li>';

        return result_str;
    }

    function draw_bhd_data (bhd_data) {
        // body...
        // node_bhd_table_dict = {};
        for(s in bhd_data)
        {
            if (node_bhd_table_dict[s] == undefined) {
                node_bhd_table_dict[s] = '';
            };
            node_bhd_table_dict[s] += get_node_bhd_table_from_data(bhd_data[s], s);
        }
    }


    function load_bhd_data(interval)
    {
        var arg = {};
        if (interval != undefined) {
            arg["interval"] = interval;
        };

        $.getJSON('/chart/overall/bhd',arg, function(data)
        {
            // console.log(data);
            if (data.get_result_bool) {
                // current_s2s_data = data.get_result;
                // draw_s2s_data(data.get_result, false);
                console.log(data.get_result);
                draw_bhd_data(data.get_result);
            } else{
                add_message_2_page(data.info,'danger');
            };
        });
    }

    function draw_cd_data (cd_data) {

        $('#core-data').empty();
        // body...
        var result_str = '';

        if ( cd_data['control']['OnlineDevice'] != undefined) {
            var online_device = cd_data['control']['OnlineDevice']['last'];
        }

        if (cd_data['relay']['net.if.in[eth0]'] != undefined) {

            var relay_net_in = byte_2_str(cd_data['relay']['net.if.in[eth0]']['statics'][0][4] * 7.5) + 'B';
        };

        if (cd_data['relay']['net.if.out[eth0]'] != undefined) {
            var relay_net_out = byte_2_str(cd_data['relay']['net.if.out[eth0]']['statics'][0][4] * 7.5) + 'B'; 
        };

        if (cd_data['control']['CloudRequest'] != undefined) {
            var cloud_request = cd_data['control']['CloudRequest']['last'];
        };

        if (cd_data['web']['FROM-ANDROID_SUM_REQUEST'] != undefined) {
            var android_app_view = cd_data['web']['FROM-ANDROID_SUM_REQUEST']['last'];
        };

        if (cd_data['web']['FROM-IOS_SUM_REQUEST'] != undefined) {
            var ios_app_view = cd_data['web']['FROM-IOS_SUM_REQUEST']['last'];
        };

        if (cd_data['web']['FROM-WEB_SUM_REQUEST'] != undefined) {
            var webpage_view = cd_data['web']['FROM-WEB_SUM_REQUEST']['last'];
        };



        // console.log(online_device, relay_net_in, relay_net_out);
        if (online_device != undefined) {

            result_str += '<p> Online Device currently is :<span id="online-device">' +  online_device + '</span></p>';
        }

        if (cloud_request != undefined) {
            result_str += '<p> Cloud Request currently is :<span id="cloud-request">' +  cloud_request + '</span></p>';
        }

        if (android_app_view != undefined) {
            result_str += '<p> User from ANDROID currently is :<span id="android-app-view">' +  android_app_view + '</span></p>';
        }

        if (ios_app_view != undefined) {
            result_str += '<p> User from IOS currently is :<span id="ios-app-view">' +  ios_app_view + '</span></p>';
        }

        if (webpage_view != undefined) {
            result_str += '<p> User from WEB currently is :<span id="webpage-view">' +  webpage_view + '</span></p>';
        }


        if (relay_net_in != undefined) {
            result_str += '<p> Relay Network In Bytes are: <span id="relay-net-in">' + relay_net_in + '</span></p>';
        };

        if (relay_net_out != undefined) {
            result_str += '<p> Relay Network Out Bytes are: <span id="relay-net-in">' + relay_net_out + '</span></p>';
        };



        $('#core-data').append(result_str);
    }


    function load_cd_data()
    {
        $.getJSON('/chart/overall/cd', function(data)
        {
            // console.log(data);
            if (data.get_result_bool) {
                draw_cd_data(data.get_result);
            } else{
                add_message_2_page(data.info,'danger');
            };
        });
    }

    var name_dict = {
        'ctl':'control',
        'control':'control',
        'web':'web',
        'dbs':'dbs',
        'cas':'cas',
        'stun':'stun',
        'relay':'relay',
        'webpage': 'webpage',
        'android': 'android',
        'ios': 'ios',
        'mac': 'mac',
        'winie': 'winie',
        'winnonie': 'winnonie',
        'dut200': 'dut200',
        'dut220': 'dut220',
        'dut250': 'dut250',
        'dut350': 'dut350',
       'dut450': 'dut450',
        'client': 'client',
    };




    request_flow = function (from_node, to_node, edge_label, node_name, value,tmp_edges) {

        // console.log(from_node, to_node, edge_label, node_name, value);
        if (network.nodes[from_node] != undefined && network.nodes[to_node] != undefined && from_node != to_node) {
            if (edge_label.indexOf('err') < 0 && edge_label.indexOf('invalid') < 0 && edge_label.indexOf('timeout') < 0) {

                if (value != null && value != undefined) {
                    var label_str  = '(' + value + ')';
                    console.log(value);
                    tmp_edges.push({from: from_node, to: to_node, label: label_str, width: 2, title: edge_label});
                }
            }
        }

    }

    error_response_flow = function (from_node, to_node, edge_label, node_name, value,tmp_edges) {


        if (network.nodes[from_node] != undefined && network.nodes[to_node] != undefined && from_node == node_name && from_node != to_node) {
            if (edge_label.indexOf('err') > 0 ) {

                if (value != null && value != undefined ) {
                    var label_str  = '(' + value + ')';
                    tmp_edges.push({from: to_node, to: from_node, color:'red', label: label_str, width: 2, title: edge_label});
                }
            }
        }

    }

    req_rep_flow = function(from_node, to_node, edge_label, node_name, value,tmp_edges)
    {
        if (network.nodes[from_node] != undefined && network.nodes[to_node] != undefined && from_node != to_node) {
            if (edge_label.indexOf('err') > 0 ) {

                if (value != null && value != undefined && value != 0) {
                    var label_str  = '(' + value + ')';
                    tmp_edges.push({from: to_node, to: from_node, color:'red', label: label_str, width: 2,title: edge_label});
                }

            }
            else if(edge_label.indexOf('err') < 0 && edge_label.indexOf('invalid') < 0 && edge_label.indexOf('timeout') < 0)
            {

                if (value != null && value != undefined  ) {
                    var label_str  = '(' + value + ')';
                    tmp_edges.push({from: from_node, to: to_node, label: label_str, width: 2, title: edge_label});
                }
            }
        }
    }

    var s2stype_text_data_dict = {
        'Request&Response' : request_response_data,
        'Request Flow': request_data,
        'Response Flow': error_response_data
    }

    var s2stype_text_func_dict = {
        'Request&Response' : req_rep_flow,
        'Request Flow': request_flow,
        'Response Flow': error_response_flow
    }

    function draw_corr_network_and_get_func (redraw_flag) {

        var tmp_func = s2stype_text_func_dict[current_s2s_type];
        if (tmp_func != undefined) {
            return tmp_func;
        } 
        else{
            return req_rep_flow;
        };
    }

    // function get_corr_func (argument) {
    //      // body...
    //      return request_flow;
    // } 

    function draw_s2s_data (s2s_data, redraw_flag) {

        proc_func = draw_corr_network_and_get_func(redraw_flag);
        // proc_func = get_corr_func();

        // network.setData(error_response_data, false);
        // var tmp_edges = [];

        var time_from_clock = s2s_data.time_from;
        var time_to_clock = s2s_data.time_to;
        var tmp_edges = [];
        for (var i = 0; i < s2s_data.data.length; i++) {
            var from_node = name_dict[s2s_data.data[i]['FROM'].toLowerCase()];
            var to_node = name_dict[s2s_data.data[i]['TO'].toLowerCase()];
            var edge_label = s2s_data.data[i]['metricname'].toLowerCase();
            var node_name = name_dict[s2s_data.data[i]['servicename']];
            var value = s2s_data.data[i]['value'];

            // error_response_flow (from_node, to_node, edge_label, node_name, value);
            proc_func (from_node, to_node, edge_label, node_name, value, tmp_edges);
        };

        // console.log(tmp_edges);
        var new_edges = default_edges.concat(tmp_edges);
        var new_data = {
            nodes: nodes,
            edges: tmp_edges
        }

        network.setData(new_data, false);
        network.redraw();


    }


    function add_message_2_page(message,type)
    {
        var content_str;
        var autoclose_value = 2000;
        switch(type)
        {
            case 'success':
                content_str = '<div style="font-size:26px;"><div style="float:left;width:auto;height:100%"><span class="glyphicon glyphicon-ok-sign" style="font-size:30px;padding:20px;"></span></div><p style="padding:26px 0;">' + message + '</p></div>';
                break;

            case 'danger':
                content_str = '<div style="font-size:26px;"><div style="float:left;width:auto;height:100%"><span class="glyphicon glyphicon-warning-sign" style="font-size:30px;padding:20px;"></span></div><p style="padding:26px 0;">' + message + '</p></div>';
                autoclose_value = -1;
                break;

            case 'info':
                content_str = '<div style="font-size:26px;"><div style="float:left;width:auto;height:100%"><span class="glyphicon glyphicon-info-sign" style="font-size:30px;padding:20px;"></span></div><p style="padding:26px 0;">' + message + '</p></div>';
                break;

            default:
                content_str = 'unknown message';
                break;
        }

        var message_panel = $.jsPanel({
            paneltype: 'hint',
            theme:     type,
            autoclose: autoclose_value,
            position:  {top : 50, left: 'center'},
            size:      { width: 400, height: 'auto' },
            content:   content_str
        });
    }

    $('button').click(function(){
        $(this).addClass("current").siblings().removeClass("active");
        current_s2s_type = $(this).text();
        // console.log(last_s2s_type, current_s2s_type);
        draw_s2s_data(current_s2s_data, last_s2s_type != current_s2s_type);
        last_s2s_type = current_s2s_type;
    })

    var seconds = 0;
    setInterval(function()
        {
            seconds += 1;
                document.getElementById('span').innerHTML = 60-seconds;
                if(seconds == 60){
                    seconds = 0;
                  load_s2s_data();
                }
            
        },1000);


    network.on('doubleClick', function (properties) {
        console.log(properties.nodes, properties.edges);
        if (properties.nodes != undefined && properties.nodes != '' && properties.nodes.length > 0) {
            alert(properties.nodes);
        }
        if (properties.edges != undefined && properties.edges != '' && properties.edges.length > 0) {
            alert(properties.edges);
        }
    });

    var hover_node_panel;

    network.on('hoverNode', function(properties)
    {
        if (base_node.indexOf(properties.node) >= 0) {
            var pos = network.canvasToDOM({x:network.nodes[properties.node].left, y:network.nodes[properties.node].top});
            hover_node_panel = $.jsPanel({
                selector: '#mynetwork',
                title:    "detail data in : " + properties.node,
                position: {top: pos.y, left: pos.x},
                theme:    "primary",
                size : {width: 650, height: 300},
                content : function () {
                    // body...
                    var result_str = '';
                    result_str += '<ul class="node-panel-content">';
                    if (node_mhd_table_dict[properties.node] != undefined) {
                        result_str += node_mhd_table_dict[properties.node] ;
                    }

                    if (node_bhd_table_dict[properties.node] != undefined) {
                        result_str += '<li>Business Health Data are as follows:';
                        result_str += '<ul style="margin:0px;">';
                        if (node_bhd_table_dict[properties.node] != '') {
                            result_str += node_bhd_table_dict[properties.node];
                        } else{
                            result_str += '<li>There is no business health data currently.</li>';
                        };
                        result_str += '</ul>';
                        result_str += '</li>';
                    };

                    result_str += '</ul>';
                    return result_str;
                },
            });
        };
        
    });

    network.on('blurNode', function(properties)
    {
        if (hover_node_panel != undefined) {
            hover_node_panel.close();
        };
    });

    $('body').scrollspy({
        target: '.bs-docs-sidebar',
        offset: 40
    });

    function blink_node (node_label, total_blink_times, blink_interval) {
        // body...
        var local_blink_count = 0;

        var load_blink_interval = setInterval(function()
        {
            if (local_blink_count < total_blink_times) {
                network.nodes[node_label].options.color.background = (network.nodes[node_label].options.color.background == "#c9ffc7" ? 'red': "#c9ffc7");
                console.log(network.nodes[node_label].options.color.background);
                network.redraw();
            }
            else
            {
                network.redraw();
                clearInterval(load_blink_interval);
            }
            local_blink_count += 1;
        }, blink_interval);
    }


    setInterval(function () {
        // body...
        load_bhd_data(60);
    }, 60000);

    // network.nodes['web'].options.color.background = "#689966";

    // console.log(network.nodes['web'].options.color.background);

    // blink_node ('web', 10, 500);

    // setTimeout(function () {
    //     // body...
    //     network.nodes['web'].options.color.background = '#689966';
    //     // console.log(network.nodes['web'].options.color.background);
    //     // console.log("changed1");
    //     network.redraw();
    // }, 2000);

    // setTimeout(function () {
    //     // body...
    //     network.nodes['web'].options.color.background = 'green';
    //     console.log("changed2");
    // }, 2000);
    
})
</script>




<div class="row">
    <!--Nav Bar -->

    <!--Main Content -->
    <div class="col-xs-9">
        <div class="bs-docs-section" >
            <h1 id="cloud-network" class="page-header">Cloud Network
                <a class="anchorjs-link" href="#cloud-network">
                    <span class="anchorjs-icon"></span>
                </a>
            </h1>
            <p class="lead">We build cloud network as follows based on the architecture of our cloud servers. Use Request & Response to indicate what happens during each input/output. We can easily acknowledge from the graph below if the servers working as our expected.</p>
            <div style="border:1px solid #aaa">
                <div class="row" style="margin:0px;">
                    <div class="btn-group s2stype" role="group" data-toggle="buttons-radio">
                        <button type="button" class="btn btn-default current active">Request&Response</button>
                        <button type="button" class="btn btn-default current">Request Flow</button>
                        <button type="button" class="btn btn-default current">Response Flow</button>
                    </div>
                    <button class="btn btn-default" disabled="true" style="float:right">next update time:<span id="span">60</span>s</button>
                </div>
                <div id="mynetwork" style="position:relative"></div>
            </div>
            
        </div>
        <div class="bs-docs-section" >
            <h1 id="core-business-data" class="page-header">Core Business Data
                <a class="anchorjs-link" href="#core-business-data">
                    <span class="anchorjs-icon"></span>
                </a>
            </h1>
            <p class="lead">Here displays Core Business Data which shows the main activities from different endpoints like dut200, dut250, smart phone apps and so on.</p>
            <div id="core-data" style="border: solid 1px #aaa; position: relative">
                <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
            </div>
            
        </div>   
    </div>
    <div class="col-xs-3">
        <nav class="bs-docs-sidebar hidden-print hidden-xs hidden-sm affix">
            <ul class="nav bs-docs-sidenav">
                <li class="active">
                    <a href="#cloud-network">Cloud Network</a>
                </li>
                <li>
                    <a href="#core-business-data">Core Business Data</a>
                </li>
            </ul>
        </nav>
    </div>
    
</div>
{% endblock %}