<!doctype html>
<html>
<head>
    {% if title %}
    <title>{{ title }} - Monitor</title>
    {% else %}
    <title>Monitor</title>
    {% endif %}
    <link href="{{url_for('static',filename='css/style.css')}}" rel="stylesheet"></link>
    
    <link href="{{url_for('static',filename='css/bootstrap.min.css')}}" rel="stylesheet" media="screen"></link>
    <link href="{{url_for('static',filename='css/page.css')}}" rel="stylesheet"></link>
    <link href="{{url_for('static',filename='css/bootstrap-theme.min.css')}}" rel="stylesheet" ></link>
    <link href="{{url_for('static',filename='css/carousel.css')}}" rel="stylesheet" ></link>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/dataTables.bootstrap.css')}}">
    <script type="text/javascript" src="{{url_for('static',filename='js/jquery-2.1.1.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename='js/bootstrapValidator.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename='js/highstock.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename='js/chart.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename='js/window_base.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename='js/jquery.dataTables.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename='js/dataTables.bootstrap.js')}}"></script>

    <link type="text/css" href="{{url_for('static',filename='css/window_base.css')}}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/bootstrap-glyphicons.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/bootstrap-datetimepicker.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/jquery-ui.min.css')}}">
    <script type="text/javascript" src="{{url_for('static',filename='js/moment.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename='js/bootstrap-datetimepicker.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename='js/jquery-ui.min.js')}}"></script>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    
</head>
<body class="window-base-body">


<div class="navbar navbar-default navbar-fixed-top page" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ url_for('index') }}">Monitor</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{{url_for('auth.config')}}">Auth </a></li>
                    <li><a href="{{url_for('chart.mainboard')}}">Chart </a></li>
                    <li><a href="{{url_for('item.mainboard')}}">Item </a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if g.user.is_authenticated() %}
                    <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
                    {% else %}
                    <li><a href="{{ url_for('auth.login') }}">Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
</div>

<script type="text/javascript">
$(function()
{
    //global variable
    var current_window_index = null;
    var callback = null;
    var nine_charts = {};

    //add chart button in page
    add_chart_page_class = 'page';
    add_chart_page_selector = 'button.' + add_chart_page_class;

    load_single_chart_history_class = 'load_sc';
    load_single_chart_history_selector = 'button.' + load_single_chart_history_class;

    confirm_load_sc_class = 'confirm-load-sc';
    confirm_load_sc_selector = 'button.' + confirm_load_sc_class;

    window_radio_input_selector = 'input[name="window"]';

    add_chart_modal_class = 'addchart';
    add_chart_modal_selector = 'button.' + add_chart_modal_class;

    maintable_class = 'maintable';
    maintable_selector = 'div.' + maintable_class;

    jumbotron_class = 'jumbotron';
    jumbotron_selector = 'div.' + jumbotron_class;

    button_setting_class = 'setting';
    button_setting_selector = 'button.' + button_setting_class;
    button_remove_class = 'remove';
    button_remove_selector = 'button.' + button_remove_class;

    chart_container_class = 'chartinpage';
    chart_container_selector = 'div.' + chart_container_class ;

    display_chart_modal_selector = '#myModal';
    load_sc_chart_modal_selector = '#load-sc-history';

    save_button_class = 'saveButton';
    save_button_selector = 'button.' + save_button_class;

    clear_button_class = 'clear';
    clear_button_selector = 'button.' + clear_button_class;

    saved_name_selector  = '#savetext';

    load_button_class = 'savedListItemButton';
    load_button_selector = 'button.' + load_button_class;

    remove_span_class = 'remove-span';
    remove_span_selector = 'span.' + remove_span_class;

    saved_list_selector = 'div[udf="savedlist"]';

    var itemtypetags = {{ itemtypenames|safe }};
    var aws_itemtypetags = {{ aws_itemtypenames|safe }};
    // console.log(aws_itemtypetags);
    // console.log(itemtypetags);

    set_auto_complete_in_dashboard();
    set_auto_complete_in_main();
    set_auto_complete_in_billing();

    function set_auto_complete_in_dashboard()
    {
        // var new_arr = $.merge( itemtypetags, aws_itemtypetags);
        var db_search_input_selector = "input.dashboard-search";
        $(db_search_input_selector).autocomplete({
            source: itemtypetags,
            appendTo: "#myModal"
        });
    }

    function set_auto_complete_in_main()
    {
        var main_search_input_selector = "input.main-search";
        $(main_search_input_selector).autocomplete({
            source: itemtypetags,
            appendTo: "#myModal"
        });
    }

    function set_auto_complete_in_billing()
    {
        var billing_search_input_selector = 'input.billing-search';
        $(billing_search_input_selector).autocomplete({
            source: aws_itemtypetags,
            appendTo: "#myModal"
        });
    }


    var f = new window_base();

    // var page_table_dom = $(maintable_selector).clone();
    // var page_table_chartcontainer = [];
    // clone_page_table_chartcontainer();

    // function clone_page_table_chartcontainer()
    // {
    //     $(chart_container_selector).each(function(i,d)
    //     {
    //         page_table_chartcontainer.push($(this).clone());
    //     })
    // }

    $(document).on('click',add_chart_page_selector,function()
    {
        // console.log("add_chart_page_selector");
        current_window_index = $(this).attr("sortId");

        $(display_chart_modal_selector).modal({
            keyboard: false
        });
        $(display_chart_modal_selector).modal('show');
    });

    $(document).on('click',load_single_chart_history_selector,function()
    {
        console.log("click");
        current_window_index = $(this).attr("sortId");
        $(load_sc_chart_modal_selector).modal({
            keyboard: false
        });
        $(load_sc_chart_modal_selector).modal('show');
    });

    $(document).on('click',confirm_load_sc_selector,function()
    {
        // console.log($('input[name=window]').val());
        var selected_windowid;
        $(window_radio_input_selector).each(function(i,d)
        {
            if (d.checked) {
                selected_windowid = $(this).attr("value");
            };
        });
        if (selected_windowid == undefined) {
            alert("you should select single chart before load");
        }
        else
        {
           // console.log(selected_windowid);
            $(load_sc_chart_modal_selector).modal('hide');
            load_window_chart(selected_windowid,current_window_index); 
        }
        
    });

    function load_window_chart(windowid,render_index)
    {
        $.getJSON('/chart/load/window',{windowid:windowid,render_index:render_index},function(data)
        {
            // console.log(data);
            if (data.load_result_bool && data.index != undefined) {
                var tmp_selected_metric_result = {};
                tmp_selected_metric_result = data.load_result['selected_metrics'];
                var tmp_chart_config = {};
                tmp_chart_config = data.load_result['chart_config'];
                var index = parseInt(data.index);
                tmp_chart_config['container_class'] = chart_container_class;
                tmp_chart_config['container_selector'] = 'div.' + chart_container_class + '[sortId="' + index + '"]';
                refresh_specific_chart(index,tmp_selected_metric_result,tmp_chart_config);
            }
            else
            {
                if (data.index != undefined) {
                    add_message_2_query_message_selector(data.info,'danger');
                }
                else
                {
                    add_message_2_query_message_selector('Have no index','danger');
                }
            }
        });
    }

    $(document).on('click',add_chart_modal_selector,function()
    {

        // console.log("add_chart_modal_selector");
        $(display_chart_modal_selector).modal('hide');
        var selected_metric_result;
        var chart_config;

        selected_metric_result = jQuery.extend(true, {}, f.get_selected_metric_result());
        chart_config = jQuery.extend(true, {}, f.get_chart_config());

        chart_config['container_class'] = chart_container_class;
        chart_config['container_selector'] = 'div.' + chart_container_class + '[sortId="' + current_window_index + '"]';

        refresh_specific_chart(current_window_index,selected_metric_result,chart_config);
    });
    
    function refresh_specific_chart(refresh_index,refresh_smr,refresh_cc)
    {
        var local_display_chart = new chart();
        local_display_chart.set_selected_metrics(refresh_smr);
        local_display_chart.set_chart_config(refresh_cc);
        local_display_chart.clear_chart();
        local_display_chart.set_highchart();
        local_display_chart.set_callback(callback);

        // delete nine_charts[current_window_index];
        clear_old_by_index(refresh_index);

        nine_charts[refresh_index] = {};
        nine_charts[refresh_index]['chart'] = local_display_chart;
        nine_charts[refresh_index]['selected_metric_result'] = refresh_smr;
        nine_charts[refresh_index]['chart_config'] = refresh_cc;

        // console.log(local_display_chart);
        local_display_chart.create_chart();
    }

    function clear_old_by_index(sortId)
    {
        if (nine_charts[sortId] != undefined) {
            if (nine_charts[sortId]['chart'] != undefined) {
                nine_charts[sortId]['chart'].clear_chart();
            };
        };
        
        delete nine_charts[sortId];
    }

    $(document).on('click',button_setting_selector,function()
    {
        var sortId = $(this).closest('div.page').attr("sortId");
        // console.log(sortId);
        current_window_index = sortId;

        $(display_chart_modal_selector).modal({
            keyboard: false
        });
        $(display_chart_modal_selector).modal('show');

        if (nine_charts[current_window_index] != undefined) {
            f.set_smr_cc(nine_charts[current_window_index]['selected_metric_result'],nine_charts[current_window_index]['chart_config']);
            // f.update_select_badge_from_outer();
            // f.render_current_selected_metrics_from_outer();
        };
    });

    $(document).on('click',button_remove_selector,function()
    {
        var sortId = $(this).closest('div.page').attr("sortId");
        clear_old_by_index(sortId);
        clear_specific_chart(sortId);
        add_sepecific_template(sortId);
    })

    $(display_chart_modal_selector).on('shown.bs.modal', function () {
        
        // var chart_div_selector = 'div.' + chart_div_class; 
        // var top_category_main_selector = 'div.' + top_category_main_class;
        $(chart_div_selector).removeClass("hidden");
        $(top_category_main_selector).removeClass("hidden");
        f.div_chart_height = $(chart_div_selector).height();
        f.top_category_height = $(top_category_main_selector).height();
        f.set_other_height(f.div_chart_height + f.top_category_height + 70);
        var chart_main_header_config_height = $(chart_main_header_div_selector).height();
        var chart_main_pagination_height = $(chart_main_pagination_selector).height();
        // // console.log(chart_main_header_config_height,chart_main_pagination_height);
        // // console.log(top_category_height);
        var tmp_chart_main_display_height = f.div_chart_height - chart_main_header_config_height - chart_main_pagination_height - 10;
        var tmp_chart_main_display_width = $(chart_main_display_container_selector).width();
        f.set_display_container_width(tmp_chart_main_display_width);
        $(chart_main_display_container_selector).height(tmp_chart_main_display_height);
        $(chart_div_selector).addClass("hidden");
        $(top_category_main_selector).addClass("hidden");
        if (f.get_display_chart() != undefined) {
            f.update_call();
        };

    });

    $(display_chart_modal_selector).on('hidden.bs.modal',function()
    {
        if (f.get_display_chart() != undefined) {
            f.get_display_chart().clear_chart();
        };
    });

    $(document).on('click',save_button_selector,function()
    {
        var pagename = $(saved_name_selector).val();
        if (pagename != undefined && pagename != null && pagename != '') {
            save_page(pagename,nine_charts);
        }
        else
        {
            alert(' saved name cannot be empty ');
        }
    });

    $(document).on('click',load_button_selector,function()
    {
        var indexId = $(this).attr("indexId");
        load_page(indexId);
    });

    $(document).on('click',remove_span_selector,function(event)
    {
        var pagename = $(this).attr("name");
        if (confirm(' Are you sure to delete page: ' + pagename)) {
            var indexId = $(this).closest('button').attr("indexId");
            delete_page(indexId);
        }
        event.stopPropagation();
    });

    // load_first();

    function load_first()
    {
        var first_page = $(load_button_selector).first();
        // var indexId = first_page
        // console.log(first_page.attr("indexid"));
        var indexid = first_page.attr("indexid");
        if (indexid != undefined) {
            load_page(indexid);
        };
        
    }

    function delete_page(indexId_to_delete)
    {
        $.getJSON('/chart/delete/page',{pageid:indexId_to_delete},function(data)
        {
            if (data.delete_result_bool) {
                // console.log(data.delete_result);
                $('button[indexId="' + data.delete_result + '"]' ).remove();
            }
            else
            {
                console.log(data.info);
            }
        });
    }

    function load_page(indexId)
    {
        for (var i = 9 - 1; i >= 0; i--) {
            clear_old_by_index(i);
            clear_specific_chart(i);
            add_sepecific_template(i);
        };



        $.getJSON('/chart/load/page',{pageid:indexId},function(data)
        {
            if (data.load_result_bool) {
                // console.log(data);
                // var index = data.load_result
                var index_arr = [];
                // var save_index = 0;
                for ( var key in data.load_result) {
                    index_arr.push(key);
                };
                var tmp = 0;
                callback = $.Callbacks();
                
                // console.log("callbacks in page",callback);
                var foo = function()
                {
                    if (tmp < index_arr.length) {
                        var index = index_arr[tmp];
                        // console.log(callback);
                        refresh_specific_chart(index,data.load_result[index]['selected_metrics'],data.load_result[index]['chart_config']);
                        tmp += 1;
                    }
                    else
                    {
                        callback = null;
                    }
                }

                callback.add( foo );
                callback.fire();
                // for( index in data.load_result)
                // {
                //     refresh_specific_chart(index,data.load_result[index]['selected_metrics'],data.load_result[index]['chart_config']);
                //     // pause(3000);
                // }
            }
            else
            {
                console.log(data.info);
            }
        });
    }

    // function pause(milliseconds) {
    //     var dt = new Date();
    //     while ((new Date()) - dt <= milliseconds) { /* Do nothing */ }
    // }



    function save_page(pagename,saved_nine_charts)
    {
        var tmp_nine_charts = {};

        for(index in saved_nine_charts)
        {
            var tmp_selected_metrics = jQuery.extend(true, {}, saved_nine_charts[index]['selected_metric_result']);
            var tmp_chart_config = jQuery.extend(true, {}, saved_nine_charts[index]['chart_config']);
            tmp_nine_charts[index] = {};
            tmp_nine_charts[index]['selected_metric_result'] = tmp_selected_metrics;
            tmp_nine_charts[index]['chart_config'] = tmp_chart_config;
        }

        var option = {  
            url: '/chart/save/page',  
            type: 'POST',  
            data: JSON.stringify({'pagename':pagename,'nine_charts':tmp_nine_charts}),  
            dataType: 'json', 
            contentType : 'application/json', 
            success: function (data) {
                
                if (data.save_result_bool) {
                    
                    // console.log(data);
                    result_str = '';
                    result_str += '<button class="btn btn-sm btn-default savedListItemButton" indexId="' + data.save_result['indexId'] + '" name="' + data.save_result['name'] + '">' + data.save_result['name'];
                    result_str += '<span class="glyphicon glyphicon-remove remove-span" aria-hidden="true" style="margin-left:10px" name="' + data.save_result['name'] + '">';
                    result_str += '</span></button>';

                    $(saved_list_selector).append(result_str);
                }
                else
                {
                    console.log(data.info);
                    // add_message_2_query_message_selector(data.info,'danger');
                }
                $(saved_name_selector).val('');
            }  
        };  
        $.ajax(option);
    }

    function clear_specific_chart(sortId)
    {

        var remove_selector = 'div.' + chart_container_class + '[sortId="' + sortId + '"]';

        $(remove_selector).remove();
    }

    function add_sepecific_template(sortId)
    {
        var add_selector = 'div.col-lg-4.page.text-center[sortId="' + sortId + '"]';
        
        // <div container='col-lg-4 page' class='chartinpage' sortId='{{i}}'><button class='btn btn-primary btn-lg center-block page' sortId='{{i}}' style="margin-top:25%">Add chart</button></div>
        var result_str = '';
        result_str += '<div container="col-lg-4 page" class="chartinpage" sortId="' + sortId + '">';
        result_str += '<div class="row">';
        result_str += "<button class='btn btn-info btn-lg load_sc' sortId='" + sortId + "'>Import Single Chart Saved</button>";
        result_str += "<button class='btn btn-primary btn-lg page' sortId='" + sortId + "' style='margin-left:4px'>New Generate</button>";
        // result_str += '<button class="btn btn-primary btn-lg center-block page" sortId="' + sortId + '" style="margin-top:25%">Add chart</button>';
        result_str += '</div>';
        result_str += '</div>';

        $(add_selector).append(result_str);
    }

    $(document).on('click',clear_button_selector,function()
    {
        for(index in nine_charts)
        {
            clear_old_by_index(index);
            clear_specific_chart(index);
            add_sepecific_template(index);
        }
    });
    


});

</script>

<div class="jumbotron" style="padding-top:5px;">

    <div class="form-inline" role="form" style="text-align:right;padding-bottom:10px;">
        <div class="form-group">
            <div class="input-group">
                <label class="sr-only" for="savetext">Saved Name</label>
                <input type="text" class="form-control" id="savetext" placeholder="Saved Name">
            </div>
        </div>
      <button class="btn btn-primary saveButton">Save</button>
      <button class="btn btn-info clear">Clear</button>
    </div>

<div class="form-inline" udf="savedlist" style="padding-bottom:10px;">
    <label>History Saved:</label>
    {% for p in pages%}
        <button class="btn btn-sm btn-default savedListItemButton" indexId="{{p.pageid}}" name="{{p.pagename}}">{{p.pagename}}<span class="glyphicon glyphicon-remove remove-span" aria-hidden="true" style="margin-left:10px" name="{{p.pagename}}"></span></button>
    {% endfor %}
</div>


<div class="maintable">
{% include 'chart/pagetable.html' %}
</div>
</div>


<!-- Modal -->
<div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog page">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">New Generate Chart</h4>
      </div>
      <div class="modal-body page-modal-body">
        {% include 'chart/window_main.html' %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary addchart">Add a chart</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade bs-example-modal-sm" id="load-sc-history" tabindex="-1" role="dialog" aria-labelledby="load-sc-head" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="load-sc-head">Load Chart From Single Chart History Saved</h4>
      </div>
      <div class="modal-body">
        <div>
        {% set i = 0 %}
        {% for w in windows %}
            {% set wn = i / 4 %}
            {% if i % 4 == 0 %}
                <div class="row">
            {% endif %}
            <div class="col-sm-3"><label class="radiobox-inline no_indent"><input type="radio" value="{{w.windowid}}" name="window">{{w.windowname}}</div>
            {% if i % 4 == 3 %}
                </div>
            {% endif %}

            {% set i = i + 1 %}
        {% endfor %}
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary confirm-load-sc">Load</button>
      </div>
    </div>
  </div>
</div>



</body>
</html>
