<!doctype html>
<html>
<head>
    {% if title %}
    <title>{{ title }} - Monitor</title>
    {% else %}
    <title>Monitor</title>
    {% endif %}
    <link href="{{url_for('static',filename='css/style.css')}}" rel="stylesheet"></link>
    <link href="{{url_for('static',filename='css/page.css')}}" rel="stylesheet"></link>
    <link href="{{url_for('static',filename='css/bootstrap.min.css')}}" rel="stylesheet" media="screen"></link>
    <link href="{{url_for('static',filename='css/bootstrap-theme.min.css')}}" rel="stylesheet" ></link>
    <link href="{{url_for('static',filename='css/carousel.css')}}" rel="stylesheet" ></link>
    <script type="text/javascript" src="{{url_for('static',filename='js/jquery-2.1.1.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename='js/bootstrapValidator.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename='js/highstock.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename='js/chart.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename='js/window_base.js')}}"></script>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    
</head>
<body>


<div class="navbar navbar-default navbar-fixed-top page" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ url_for('index') }}">Monitor</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{{url_for('auth.config')}}">Auth </a></li>
                    <li><a href="{{url_for('chart.mainboard')}}">Chart </a></li>
                    <li><a href="{{url_for('item.mainboard')}}">Item </a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if g.user.is_authenticated() %}
                    <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
                    {% else %}
                    <li><a href="{{ url_for('auth.login') }}">Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
</div>

<script type="text/javascript">
$(function()
{
    //global variable
    var current_window_index = null;
    var nine_charts = {};

    //add chart button in page
    add_chart_page_class = 'page';
    add_chart_page_selector = 'button.' + add_chart_page_class;

    add_chart_modal_class = 'addchart';
    add_chart_modal_selector = 'button.' + add_chart_modal_class;

    maintable_class = 'maintable';
    maintable_selector = 'div.' + maintable_class;

    jumbotron_class = 'jumbotron';
    jumbotron_selector = 'div.' + jumbotron_class;

    button_setting_class = 'setting';
    button_setting_selector = 'button.' + button_setting_class;
    button_remove_class = 'remove';
    button_remove_selector = 'button.' + button_remove_class;

    chart_container_class = 'chartinpage';
    chart_container_selector = 'div.' + chart_container_class ;

    display_chart_modal_selector = '#myModal';

    var f = new window_base();

    // var page_table_dom = $(maintable_selector).clone();
    // var page_table_chartcontainer = [];
    // clone_page_table_chartcontainer();

    // function clone_page_table_chartcontainer()
    // {
    //     $(chart_container_selector).each(function(i,d)
    //     {
    //         page_table_chartcontainer.push($(this).clone());
    //     })
    // }

    $(document).on('click',add_chart_page_selector,function()
    {
        // console.log("add_chart_page_selector");
        current_window_index = $(this).attr("sortId");

        $(display_chart_modal_selector).modal({
            keyboard: false
        });
        $(display_chart_modal_selector).modal('show');
    });

    

    $(document).on('click',add_chart_modal_selector,function()
    {

        // console.log("add_chart_modal_selector");
        $(display_chart_modal_selector).modal('hide');
        var selected_metric_result;
        var chart_config;

        selected_metric_result = jQuery.extend(true, {}, f.get_selected_metric_result());
        chart_config = jQuery.extend(true, {}, f.get_chart_config());

        chart_config['container_class'] = chart_container_class;
        chart_config['container_selector'] = 'div.' + chart_container_class + '[sortId="' + current_window_index + '"]';

        var local_display_chart = new chart();
        local_display_chart.set_selected_metrics(selected_metric_result);
        local_display_chart.set_chart_config(chart_config);
        local_display_chart.clear_chart();
        local_display_chart.set_highchart();

        // delete nine_charts[current_window_index];
        clear_old_by_index(current_window_index);

        nine_charts[current_window_index] = {};
        nine_charts[current_window_index]['chart'] = local_display_chart;
        nine_charts[current_window_index]['selected_metric_result'] = selected_metric_result;
        nine_charts[current_window_index]['chart_config'] = chart_config;
        // nine_charts[current_window_index] = local_display_chart;
        // console.log(local_display_chart);
        local_display_chart.create_chart();
        // display_chart.
        // console.log(nine_charts);

    });

    function clear_old_by_index(sortId)
    {
        if (nine_charts[sortId] != undefined) {
            if (nine_charts[sortId]['chart'] != undefined) {
                nine_charts[sortId]['chart'].clear_chart();
            };
        };
        
        delete nine_charts[sortId];
    }

    $(document).on('click',button_setting_selector,function()
    {
        var sortId = $(this).closest('div.page').attr("sortId");
        // console.log(sortId);
        current_window_index = sortId;

        if (nine_charts[current_window_index] != undefined) {
            f.set_smr_cc(nine_charts[current_window_index]['selected_metric_result'],nine_charts[current_window_index]['chart_config']);
        };

        $(display_chart_modal_selector).modal({
            keyboard: false
        });
        $(display_chart_modal_selector).modal('show');
    });

    $(document).on('click',button_remove_selector,function()
    {
        var sortId = $(this).closest('div.page').attr("sortId");
        clear_old_by_index(sortId);
        clear_specific_chart(sortId);
        add_sepecific_template(sortId);
    })

    $(display_chart_modal_selector).on('shown.bs.modal', function () {
        if (f.get_display_chart() != undefined) {
            f.update_call();
        };
    });

    $(display_chart_modal_selector).on('hidden.bs.modal',function()
    {
        if (f.get_display_chart() != undefined) {
            f.get_display_chart().clear_chart();
        };
    });

    function clear_specific_chart(sortId)
    {

        var remove_selector = 'div.' + chart_container_class + '[sortId="' + sortId + '"]';

        $(remove_selector).remove();
    }

    function add_sepecific_template(sortId)
    {
        var add_selector = 'div.col-lg-4.page.text-center[sortId="' + sortId + '"]';
        
        // <div container='col-lg-4 page' class='chartinpage' sortId='{{i}}'><button class='btn btn-primary btn-lg center-block page' sortId='{{i}}' style="margin-top:25%">Add chart</button></div>
        var result_str = '';
        result_str += '<div container="col-lg-4 page" class="chartinpage" sortId="' + sortId + '">';
        result_str += '<button class="btn btn-primary btn-lg center-block page" sortId="' + sortId + '" style="margin-top:25%">Add chart</button>';
        result_str += '</div>';

        $(add_selector).append(result_str);
    }

    


});

</script>

<div class="jumbotron">
<div class="maintable">
{% include 'chart/pagetable.html' %}
</div>
</div>


<!-- Modal -->
<div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog page">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Choose monitor items</h4>
      </div>
      <div class="modal-body">
        {% include 'chart/window_base.html'%}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary addchart">Add a chart</button>
      </div>
    </div>
  </div>
</div>




</body>
</html>
