<!doctype html>
<html>
<head>
    {% if title %}
    <title>{{ title }} - Monitor</title>
    {% else %}
    <title>Monitor</title>
    {% endif %}
    <link href="{{url_for('static',filename='css/style.css')}}" rel="stylesheet"></link>
    
    <link href="{{url_for('static',filename='css/bootstrap.min.css')}}" rel="stylesheet" media="screen"></link>
    <link href="{{url_for('static',filename='css/page.css')}}" rel="stylesheet"></link>
    <link href="{{url_for('static',filename='css/bootstrap-theme.min.css')}}" rel="stylesheet" ></link>
    <link href="{{url_for('static',filename='css/carousel.css')}}" rel="stylesheet" ></link>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/dataTables.bootstrap.css')}}">
    <script type="text/javascript" src="{{url_for('static',filename='js/jquery-2.1.1.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename='js/bootstrapValidator.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename='js/highstock.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename='js/chart.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename='js/window_base.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename='js/jquery.dataTables.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename='js/dataTables.bootstrap.js')}}"></script>

    <link type="text/css" href="{{url_for('static',filename='css/window_base.css')}}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/bootstrap-glyphicons.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/bootstrap-datetimepicker.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/jquery-ui.min.css')}}">
    <script type="text/javascript" src="{{url_for('static',filename='js/moment.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename='js/bootstrap-datetimepicker.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename='js/jquery-ui.min.js')}}"></script>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    
</head>
<body class="window-base-body">


<div class="navbar navbar-default navbar-fixed-top page" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ url_for('index') }}">Monitor</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{{url_for('auth.config')}}">Auth </a></li>
                    <li><a href="{{url_for('chart.mainboard')}}">Chart </a></li>
                    <li><a href="{{url_for('item.mainboard')}}">Item </a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ url_for('chart.newpage') }}">New Version</a></li>
                    {% if g.user.is_authenticated() %}
                    <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
                    {% else %}
                    <li><a href="{{ url_for('auth.login') }}">Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
</div>

<script type="text/javascript">
$(function()
{
    //global variable
    var current_window_index = null;
    var callback = null;
    var nine_charts = {};

    //add chart button in page
    add_chart_page_class = 'page';
    add_chart_page_selector = 'button.' + add_chart_page_class;

    load_single_chart_history_class = 'load_sc';
    load_single_chart_history_selector = 'button.' + load_single_chart_history_class;

    confirm_load_sc_class = 'confirm-load-sc';
    confirm_load_sc_selector = 'button.' + confirm_load_sc_class;

    window_radio_input_selector = 'input[name="window"]';

    add_chart_modal_class = 'addchart';
    add_chart_modal_selector = 'button.' + add_chart_modal_class;

    maintable_class = 'maintable';
    maintable_selector = 'div.' + maintable_class;

    jumbotron_class = 'jumbotron';
    jumbotron_selector = 'div.' + jumbotron_class;

    button_setting_class = 'setting';
    button_setting_selector = 'button.' + button_setting_class;
    button_remove_class = 'remove';
    button_remove_selector = 'button.' + button_remove_class;

    chart_container_class = 'chartinpage';
    chart_container_selector = 'div.' + chart_container_class ;

    display_chart_modal_selector = '#myModal';
    load_sc_chart_modal_selector = '#load-sc-history';

    save_button_class = 'saveButton';
    save_button_selector = 'button.' + save_button_class;

    clear_button_class = 'clear';
    clear_button_selector = 'button.' + clear_button_class;

    saved_name_selector  = '#savetext';

    load_button_class = 'savedListItemButton';
    load_button_selector = 'button.' + load_button_class;

    remove_span_class = 'remove-span';
    remove_span_selector = 'span.' + remove_span_class;

    saved_list_selector = 'div[udf="savedlist"]';

    page_message_class = 'page-message';
    page_message_selector = 'div.' + page_message_class;

    var itemtypetags = {{ itemtypenames|safe }};
    var aws_itemtypetags = {{ aws_itemtypenames|safe }};
    // console.log(aws_itemtypetags);
    // console.log(itemtypetags);

    set_auto_complete_in_dashboard();
    set_auto_complete_in_main();
    set_auto_complete_in_billing();

    var load_select_class = 'select-for-load';
    var load_select_selector = 'select.' + load_select_class;

    var delete_select_class = 'select-for-delete';
    var delete_select_selector = 'select.' + delete_select_class;

    panelheading_class = "chartpanel";
    panelheading_selector = "div." + panelheading_class;

    var export_button_class = 'export';
    export_button_selector = 'button.' + export_button_class;

    var load_file_button_class = "load-file";
    load_file_input_selector = 'input.' + load_file_button_class;

    var delete_class = 'delete-page-button';
    delete_selector = 'button.' + delete_class;

    $(document).on('click',export_button_selector,function()
    {

        var tmp_nine_charts = {};
        saved_nine_charts = nine_charts;
        for(index in saved_nine_charts)
        {
            var tmp_selected_metrics = jQuery.extend(true, {}, saved_nine_charts[index]['selected_metric_result']);
            var tmp_chart_config = jQuery.extend(true, {}, saved_nine_charts[index]['chart_config']);
            tmp_nine_charts[index] = {};
            tmp_nine_charts[index]['selected_metric_result'] = tmp_selected_metrics;
            tmp_nine_charts[index]['chart_config'] = tmp_chart_config;
            tmp_nine_charts[index]['chart_name'] = saved_nine_charts[index]['chart_name'];
        }


        var data = JSON.stringify(tmp_nine_charts);
        var csvContent = "data:text/json;charset=utf-8,";
        csvContent += data;

        var encodedUri = encodeURI(csvContent);
        var link = document.createElement("a");
        link.setAttribute("href", encodedUri);
        link.setAttribute("download", "monitor_nine_charts_data.json");
        link.setAttribute("for", "export");

        link.click(); 
        $('a[for=export]').remove();
    });

    // document.getElementById('test-load-file').addEventListener('change', readSingleFile, false);

    $(document).on('change',load_file_input_selector,function(event)
    {
        // var file = e.target.files[0];
        // console.log(file);
        readSingleFile(event);
    });

    function convert_from_json(contents)
    {
        try
        {
            var tmp_json = JSON.parse(contents);
            return tmp_json;
        }
        catch(err)
        {
            console.log(err);   
            add_message_2_page('input file is not a monitor json template file','danger');
        }
        // console.log(tmp_json);
    }

    function readSingleFile(e) {
        var file = e.target.files[0];
        if (!file) {
            return;
        }
        var reader = new FileReader();
        reader.onload = function(e) {
            var contents = e.target.result;
            var saved_nine_charts = convert_from_json(contents);
            try
            {
                var tmp_nine_charts = {};

                for(index in saved_nine_charts)
                {
                    var tmp_selected_metrics = jQuery.extend(true, {}, saved_nine_charts[index]['selected_metric_result']);
                    var tmp_chart_config = jQuery.extend(true, {}, saved_nine_charts[index]['chart_config']);
                    tmp_nine_charts[index] = {};
                    tmp_nine_charts[index]['selected_metrics'] = tmp_selected_metrics;
                    tmp_nine_charts[index]['chart_config'] = tmp_chart_config;
                    tmp_nine_charts[index]['chart_name'] = saved_nine_charts[index]['chart_name'];
                }

                clear_all_refresh_title();
                configuration_2_chart(tmp_nine_charts);
            }
            catch(err)
            {
                add_message_2_page('load charts from local file error','danger');
                clear_all_refresh_title();
                console.log(err);
            }
            
        };
        try
        {
            reader.readAsText(file);
        }
        catch(err)
        {
            add_message_2_page('read file error','danger');
        }
        
    }

    function set_auto_complete_in_dashboard()
    {
        // var new_arr = $.merge( itemtypetags, aws_itemtypetags);
        var db_search_input_selector = "input.dashboard-search";
        $(db_search_input_selector).autocomplete({
            source: itemtypetags,
            appendTo: "#myModal"
        });
    }

    function set_auto_complete_in_main()
    {
        var main_search_input_selector = "input.main-search";
        $(main_search_input_selector).autocomplete({
            source: itemtypetags,
            appendTo: "#myModal"
        });
    }

    function set_auto_complete_in_billing()
    {
        var billing_search_input_selector = 'input.billing-search';
        $(billing_search_input_selector).autocomplete({
            source: aws_itemtypetags,
            appendTo: "#myModal"
        });
    }


    var f = new window_base();

    // var page_table_dom = $(maintable_selector).clone();
    // var page_table_chartcontainer = [];
    // clone_page_table_chartcontainer();

    // function clone_page_table_chartcontainer()
    // {
    //     $(chart_container_selector).each(function(i,d)
    //     {
    //         page_table_chartcontainer.push($(this).clone());
    //     })
    // }

    $(document).on('click',add_chart_page_selector,function()
    {
        // console.log("add_chart_page_selector");
        current_window_index = $(this).attr("sortId");

        $(display_chart_modal_selector).modal({
            keyboard: false
        });
        $(display_chart_modal_selector).modal('show');
    });

    $(document).on('click',load_single_chart_history_selector,function()
    {
        // console.log("click");
        current_window_index = $(this).attr("sortId");
        $(load_sc_chart_modal_selector).modal({
            keyboard: false
        });
        $(load_sc_chart_modal_selector).modal('show');
    });

    $(document).on('click',confirm_load_sc_selector,function()
    {
        // console.log($('input[name=window]').val());
        var selected_windowid;
        var selected_windowname;
        $(window_radio_input_selector).each(function(i,d)
        {
            if (d.checked) {
                selected_windowid = $(this).attr("value");
                selected_windowname = $(this).closest('label').text();
            };
        });
        if (selected_windowid == undefined) {
            alert("you should select single chart before load");
        }
        else
        {
            $(load_sc_chart_modal_selector).modal('hide');
            load_window_chart(selected_windowid,current_window_index,selected_windowname); 
            // change_specific_chart_name(current_window_index,'Generate from saved chart : ' + selected_windowname);
        }
        
    });

    function load_window_chart(windowid,render_index,selected_windowname)
    {
        $.getJSON('/chart/load/window',{windowid:windowid,render_index:render_index,selected_windowname:selected_windowname},function(data)
        {
            // console.log(data);
            if (data.load_result_bool && data.index != undefined) {
                var tmp_selected_metric_result = {};
                tmp_selected_metric_result = data.load_result['selected_metrics'];
                var tmp_chart_config = {};
                tmp_chart_config = data.load_result['chart_config'];
                console.log(tmp_chart_config);
                var index = parseInt(data.index);
                tmp_chart_config['container_class'] = chart_container_class;
                tmp_chart_config['container_selector'] = 'div.' + chart_container_class + '[sortId="' + index + '"]';
                var chart_name = data.selected_windowname;
                if (chart_name == undefined) {
                    chart_name = 'tmp chart ' + index;
                }
                else
                {
                    chart_name = 'Import from saved chart : ' + chart_name;
                }
                refresh_specific_chart(index,tmp_selected_metric_result,tmp_chart_config,chart_name);
            }
            else
            {
                if (data.index != undefined) {
                    add_message_2_page(data.info,'danger');
                }
                else
                {
                    add_message_2_page('Have no index','danger');
                }
            }
        });
    }

    function add_message_2_page(message,type)
    {
        var result_str = '';
        result_str += '<div class="alert alert-' + type + '">';
        result_str += '<button type="button" class="close" data-dismiss="alert">&times;</button>';
        result_str += message;
        result_str += '</div>';

        // if ($(message_selector).length <= 0) {
        //     add_search_result_message();        
        // };

        // var origin_height = $(message_selector).height();
        // console.log(origin_height);
        $(page_message_selector).empty();
        console.log($(page_message_selector));
        $(page_message_selector).append(result_str);
    }

    $(document).on('click',add_chart_modal_selector,function()
    {

        // console.log("add_chart_modal_selector");
        $(display_chart_modal_selector).modal('hide');
        var selected_metric_result;
        var chart_config;

        selected_metric_result = jQuery.extend(true, {}, f.get_selected_metric_result());
        chart_config = jQuery.extend(true, {}, f.get_chart_config());

        chart_config['container_class'] = chart_container_class;
        chart_config['container_selector'] = 'div.' + chart_container_class + '[sortId="' + current_window_index + '"]';
        var tmp_chart_name = 'new generate chart in : ' + current_window_index;

        refresh_specific_chart(current_window_index,selected_metric_result,chart_config,tmp_chart_name);
    });


    $(document).on('click',panelheading_selector,function()
    {
        current_window_index = $(this).closest('div.page').attr("sortId");
        // console.log()
        if ($(this).find('input').length <= 0 ) {
            var current_text;
            $(this).find('b').each(function(i,d)
                {
                    // console.log()
                    current_text = $(this).text();
                    $(this).remove();
                }); 

            $(this).prepend('<input type="text" value="' + current_text + '" class="panel-heading-input" />');
            $('input.panel-heading-input').focus();
            $('input.panel-heading-input').select();
        };
        // console.log(current_window_index);
    });

    $(document).on('focusout','input.panel-heading-input',function()
    {
        // console.log($(this).val());
        var current_window_name;
        if ($(this).val() != '') {
            current_window_name = $(this).val()
        }
        else
        {
            current_window_name = 'tmp chart ' + current_window_index;
        }
        $(this).remove();
        $('div.page[sortId="' + current_window_index + '"]').find(panelheading_selector).each(function(i,d)
        {
            $(this).prepend('<b>' + current_window_name + '</b>');
        });
        change_specific_chart_name(current_window_index,current_window_name);
    });



    function change_specific_chart_name(change_index,target_name)
    {
        // nine_charts[change_index]['chart_name'] = target_name;
        if (nine_charts[change_index] != undefined) {
            nine_charts[change_index]['chart_name'] = target_name;
        };
        // var tmp_name = 'tmp chart ' + clear_index;
        $('div.page[sortId="' + change_index + '"]').find(panelheading_selector).each(function(i,d)
        {
            $(this).find('b').each(function(i,d)
            {
                $(this).remove();
            });
            $(this).prepend('<b>' + target_name + '</b>');
        });
    }
    
    function refresh_specific_chart(refresh_index,refresh_smr,refresh_cc,refresh_chart_name)
    {
        var local_display_chart = new chart();
        local_display_chart.set_selected_metrics(refresh_smr);
        local_display_chart.set_chart_config(refresh_cc);
        local_display_chart.clear_chart();
        local_display_chart.set_highchart();
        local_display_chart.set_callback(callback);

        // delete nine_charts[current_window_index];
        clear_old_by_index(refresh_index);

        nine_charts[refresh_index] = {};
        nine_charts[refresh_index]['chart'] = local_display_chart;
        nine_charts[refresh_index]['selected_metric_result'] = refresh_smr;
        nine_charts[refresh_index]['chart_config'] = refresh_cc;
        change_specific_chart_name(refresh_index,refresh_chart_name);

        // console.log(local_display_chart);
        local_display_chart.create_chart();
    }

    function clear_old_by_index(sortId)
    {
        if (nine_charts[sortId] != undefined) {
            if (nine_charts[sortId]['chart'] != undefined) {
                nine_charts[sortId]['chart'].clear_chart();
            };
        };
        
        delete nine_charts[sortId];
    }

    $(document).on('click',button_setting_selector,function(event)
    {
        var sortId = $(this).closest('div.page').attr("sortId");
        // console.log(sortId);
        current_window_index = sortId;

        $(display_chart_modal_selector).modal({
            keyboard: false
        });
        $(display_chart_modal_selector).modal('show');

        if (nine_charts[current_window_index] != undefined) {
            f.set_smr_cc(nine_charts[current_window_index]['selected_metric_result'],nine_charts[current_window_index]['chart_config']);
            // f.update_select_badge_from_outer();
            // f.render_current_selected_metrics_from_outer();
        };
        event.stopPropagation();
    });

    $(document).on('click',button_remove_selector,function(event)
    {
        var sortId = $(this).closest('div.page').attr("sortId");
        clear_old_by_index(sortId);
        clear_specific_chart(sortId);
        add_sepecific_template(sortId);
        change_specific_chart_name(parseInt(sortId),'tpm chart ' + sortId);
        event.stopPropagation();
    })

    $(display_chart_modal_selector).on('shown.bs.modal', function () {
        
        var chart_div_selector = 'div.' + chart_div_class; 
        var top_category_main_selector = 'div.' + top_category_main_class;
        $(chart_div_selector).removeClass("hidden");
        $(top_category_main_selector).removeClass("hidden");
        f.div_chart_height = $(chart_div_selector).height();
        f.top_category_height = $(top_category_main_selector).height();
        f.set_other_height(f.div_chart_height + f.top_category_height + 70);
        var chart_main_header_config_height = $(chart_main_header_div_selector).height();
        var chart_main_pagination_height = $(chart_main_pagination_selector).height();
        // // console.log(chart_main_header_config_height,chart_main_pagination_height);
        // // console.log(top_category_height);
        var tmp_chart_main_display_height = f.div_chart_height - chart_main_header_config_height - chart_main_pagination_height - 10;
        var tmp_chart_main_display_width = $(chart_main_display_container_selector).width();
        f.set_display_container_width(tmp_chart_main_display_width);
        $(chart_main_display_container_selector).height(tmp_chart_main_display_height);
        $(chart_div_selector).addClass("hidden");
        $(top_category_main_selector).addClass("hidden");
        if (f.get_display_chart() != undefined) {
            f.update_call();
        };

    });

    $(display_chart_modal_selector).on('hidden.bs.modal',function()
    {
        if (f.get_display_chart() != undefined) {
            f.get_display_chart().clear_chart();
        };
    });

    $(document).on('click',save_button_selector,function()
    {
        var pagename = $(saved_name_selector).val();
        if (pagename != undefined && pagename != null && pagename != '') {
            save_page(pagename,nine_charts);
        }
        else
        {
            alert(' saved name cannot be empty ');
        }
    });

    $(document).on('click',load_button_selector,function()
    {
        var indexId = $(this).attr("indexId");
        load_page(indexId);
    });

    $(document).on('change',load_select_selector,function()
    {
        var indexId = $(this).val();
        if (indexId != "-1") {
            console.log(indexId);
            load_page(indexId);
        }
        else
        {
            clear_all_refresh_title();
        }
    })

    $(document).on('click',remove_span_selector,function(event)
    {
        var pagename = $(this).attr("name");
        if (confirm(' Are you sure to delete page: ' + pagename)) {
            var indexId = $(this).closest('button').attr("indexId");
            delete_page(indexId);
        }
        event.stopPropagation();
    });

    $(document).on('click',delete_selector,function()
    {
        // var pagename = 
        var indexId = $(delete_select_selector).val();
        var pagename = $('option[value="' + indexId + '"]').attr("name");
        if (confirm(' Are you sure to delete page: ' + pagename)) {
            delete_page(indexId);
        }
    });

    // load_first();

    function load_first()
    {
        var first_page = $(load_button_selector).first();
        // var indexId = first_page
        // console.log(first_page.attr("indexid"));
        var indexid = first_page.attr("indexid");
        if (indexid != undefined) {
            load_page(indexid);
        };
        
    }

    function delete_page(indexId_to_delete)
    {
        $.getJSON('/chart/delete/page',{pageid:indexId_to_delete},function(data)
        {
            if (data.delete_result_bool) {
                // console.log(data.delete_result);
                // $('button[indexId="' + data.delete_result + '"]' ).remove();
                rm_specific_page_record(data.delete_result);
            }
            else
            {
                console.log(data.info);
            }
        });
    }

    function configuration_2_chart(config)
    {
        console.log(config);

        var index_arr = [];
        for ( var key in config) {
            index_arr.push(key);
        };
        var tmp = 0;
        callback = $.Callbacks();
        // console.log("callbacks in page",callback);
        var foo = function()
        {
            if (tmp < index_arr.length) {
                var index = index_arr[tmp];
                refresh_specific_chart(index,config[index]['selected_metrics'],config[index]['chart_config'],config[index]['chart_name']);
                tmp += 1;
            }
            else
            {
                callback.empty();
                add_message_2_page('load charts successfully!','success');
            }
        }
        callback.add( foo );
        callback.fire();
    }

    function load_page(indexId)
    {
        clear_all_refresh_title();



        $.getJSON('/chart/load/page',{pageid:indexId},function(data)
        {
            if (data.load_result_bool) {

                configuration_2_chart(data.load_result)
            }
            else
            {
                console.log(data.info);
            }
        });
    }




    function save_page(pagename,saved_nine_charts)
    {
        var tmp_nine_charts = {};

        for(index in saved_nine_charts)
        {
            var tmp_selected_metrics = jQuery.extend(true, {}, saved_nine_charts[index]['selected_metric_result']);
            var tmp_chart_config = jQuery.extend(true, {}, saved_nine_charts[index]['chart_config']);
            tmp_nine_charts[index] = {};
            tmp_nine_charts[index]['selected_metric_result'] = tmp_selected_metrics;
            tmp_nine_charts[index]['chart_config'] = tmp_chart_config;
            tmp_nine_charts[index]['chart_name'] = saved_nine_charts[index]['chart_name'];
        }
        // console.log(saved_nine_charts);

        var option = {  
            url: '/chart/save/page',  
            type: 'POST',  
            data: JSON.stringify({'pagename':pagename,'nine_charts':tmp_nine_charts}),  
            dataType: 'json', 
            contentType : 'application/json', 
            success: function (data) {
                
                if (data.save_result_bool) {
                    
                    add_specific_page_record(data.save_result['indexId'],data.save_result['name']);
                }
                else
                {
                    console.log(data.info);
                    add_message_2_page(data.info,'danger');
                }
                $(saved_name_selector).val('');
            }  
        };  
        $.ajax(option);
    }

    function add_specific_page_record(indexId,name)
    {
        var result_str = '';
        result_str += '<option value="' + indexId + '" name="' + name + '">' + name + '</option>';

        $(load_select_selector).append(result_str);
        $(delete_select_selector).append(result_str);
    }

    function rm_specific_page_record(indexId)
    {
        $('option[value="' + indexId + '"]').remove();
    }

    function clear_specific_chart(sortId)
    {

        var remove_selector = 'div.' + chart_container_class + '[sortId="' + sortId + '"]';

        $(remove_selector).remove();
    }

    function add_sepecific_template(sortId)
    {
        var add_selector = 'div.col-lg-4.page.text-center[sortId="' + sortId + '"]';
        
        // <div container='col-lg-4 page' class='chartinpage' sortId='{{i}}'><button class='btn btn-primary btn-lg center-block page' sortId='{{i}}' style="margin-top:25%">Add chart</button></div>
        var result_str = '';
        result_str += '<div container="col-lg-4 page" class="chartinpage" sortId="' + sortId + '">';
        result_str += '<div class="row">';
        result_str += "<button class='btn btn-info btn-lg load_sc' sortId='" + sortId + "'>Import Single Chart Saved</button>";
        result_str += "<button class='btn btn-primary btn-lg page' sortId='" + sortId + "' style='margin-left:4px'>New Generate</button>";
        // result_str += '<button class="btn btn-primary btn-lg center-block page" sortId="' + sortId + '" style="margin-top:25%">Add chart</button>';
        result_str += '</div>';
        result_str += '</div>';

        $(add_selector).append(result_str);
    }

    function clear_heading_text(clear_index)
    {
        var tmp_name = 'tmp chart ' + clear_index;
        $('div.page[sortId="' + clear_index + '"]').find(panelheading_selector).each(function(i,d)
        {
            $(this).find('b').each(function(i,d)
            {
                $(this).remove();
            });
            $(this).prepend('<b>' + tmp_name + '</b>');
        });
    }

    function clear_all_refresh_title()
    {
        for(index in nine_charts)
        {
            clear_old_by_index(index);
            clear_specific_chart(index);
            add_sepecific_template(index);
        }

        for (var i = 0; i < 9; i++) {
            change_specific_chart_name(i,'tpm chart ' + i);
        };
    }

    $(document).on('click',clear_button_selector,function()
    {
        clear_all_refresh_title();
    });
    

});



</script>

<div class="jumbotron" style="padding-top:5px;">

    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Click Here to Expand/Close Options</a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
                <table class="table table-bordered">
                    <thead>
                        <th>Save at Server-side</th>
                        <th>Load config saved at Server</th>
                        <th>Delete record in Server</th>
                        <th>Export to Local</th>
                        <th>Load from Local File</th>
                        <th>Clear All 9 Charts</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="form-inline">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="savetext" placeholder="Saved Name">
                                    </div>
                                    <button class="btn btn-primary saveButton">Save</button>
                                </div>
                            </td>
                            <td>
                                <div class="form-inline">
                                    <div class="form-group">
                                        <select class="form-control select-for-load">
                                            <option value="-1" > Select a config</option>
                                            {% for p in pages %}
                                                <option value="{{p.pageid}}" name="{{p.pagename}}">{{p.pagename}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                
                            </td>
                            <td>
                                <div class="form-inline">
                                    <div class="form-group">
                                        <select class="form-control select-for-delete">
                                            {% for p in pages %}
                                                <option value="{{p.pageid}}" name="{{p.pagename}}">{{p.pagename}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <button class="btn btn-danger delete-page-button">Delete</button>
                                </div>
                            </td>
                            <td>
                                <div class="form-inline">
                                    <div class="form-group">
                                        <button class="btn btn-info form-control export">Export</button>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="form-inline">
                                    <div class="form-group">
                                        <input type="file" class='form-control load-file' />
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="form-inline">
                                    <div class="form-group">
                                        <button class="btn btn-info clear">Clear</button>
                                    </div>
                                </div>
                            </td>
                            
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    

    <div class="page-message"></div>
    <div class="maintable">
    {% include 'chart/pagetable.html' %}
    </div>
</div>


<!-- Modal -->
<div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog page">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">New Generate Chart</h4>
      </div>
      <div class="modal-body page-modal-body">
        {% include 'chart/window_main.html' %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary addchart">Add a chart</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade bs-example-modal-sm" id="load-sc-history" tabindex="-1" role="dialog" aria-labelledby="load-sc-head" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="load-sc-head">Load Chart From Single Chart History Saved</h4>
      </div>
      <div class="modal-body">
        <div>
        {% set i = 0 %}
        {% for w in windows %}
            {% set wn = i / 4 %}
            {% if i % 4 == 0 %}
                <div class="row">
            {% endif %}
            <div class="col-sm-3"><label class="radiobox-inline no_indent"><input type="radio" value="{{w.windowid}}" name="window">{{w.windowname}}</div>
            {% if i % 4 == 3 %}
                </div>
            {% endif %}

            {% set i = i + 1 %}
        {% endfor %}
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary confirm-load-sc">Load</button>
      </div>
    </div>
  </div>
</div>



</body>
</html>
