{% extends "layout.html" %}
{% block body %}
<link href="{{url_for('static',filename='css/report.css')}}" rel="stylesheet"></link>
<link type="text/css" href="{{url_for('static',filename='css/window_base.css')}}" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/bootstrap-glyphicons.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/bootstrap-datetimepicker.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/jquery-ui.min.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/dataTables.bootstrap.css')}}">

<script type="text/javascript" src="{{url_for('static',filename='js/highstock.js')}}"></script>
<script type="text/javascript" src="{{url_for('static',filename='js/chart.js')}}"></script>
<script type="text/javascript" src="{{url_for('static',filename='js/window_base.js')}}"></script>
<script type="text/javascript" src="{{url_for('static',filename='js/moment.js')}}"></script>
<script type="text/javascript" src="{{url_for('static',filename='js/bootstrap-datetimepicker.js')}}"></script>
<script type="text/javascript" src="{{url_for('static',filename='js/jquery-ui.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static',filename='js/jquery.dataTables.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static',filename='js/dataTables.bootstrap.js')}}"></script>



<script type="text/javascript">
$(function()
{
	choose_item_selector = '#choosemonitoritem';

	display_chart_modal_selector = '#myModal';

	confrim_item_class = 'confirm';
	confirm_item_selector = 'button.' + confrim_item_class;

	hidden_series_info_selector = '#hiddenselectedmetrics';
    var modal_content_selector = 'div.modal-main';

	// var current_selected_metrics = null;
	// var current_chart_config = null;

    var modal_height = $(window).height()*0.9 - 56 - 65 - 10;
    var modal_width = $(window).width()*0.8 - 30 - 30 ;
    $(modal_content_selector).height(modal_height);
    $(modal_content_selector).width(modal_width);

    $(window).resize(function(e)
    {
        if (e.target == window)
        {
            modal_height = $(window).height()*0.9 - 56 - 65 - 10;
            modal_width = $(window).width()*0.8 - 30 - 30 ;
            $(modal_content_selector).height(modal_height);
            $(modal_content_selector).width(modal_width);
            f.resize_caller(modal_height);
        };
    })

    var itemtypetags = {{ itemtypenames|safe }};
    var aws_itemtypetags = {{ aws_itemtypenames|safe }};
    // console.log(aws_itemtypetags);
    // console.log(itemtypetags);

    set_auto_complete_in_dashboard();
    set_auto_complete_in_main();
    set_auto_complete_in_billing();

    function set_auto_complete_in_dashboard()
    {
        // var new_arr = $.merge( itemtypetags, aws_itemtypetags);
        var db_search_input_selector = "input.dashboard-search";
        $(db_search_input_selector).autocomplete({
            source: itemtypetags,
            appendTo: "#myModal"
        });
    }

    function set_auto_complete_in_main()
    {
        var main_search_input_selector = "input.main-search";
        $(main_search_input_selector).autocomplete({
            source: itemtypetags,
            appendTo: "#myModal"
        });
    }

    function set_auto_complete_in_billing()
    {
        var billing_search_input_selector = 'input.billing-search';
        $(billing_search_input_selector).autocomplete({
            source: aws_itemtypetags,
            appendTo: "#myModal"
        });
    }

	var f = new window_base(($(window).height() - $('div.navbar-static-top').height() + 25)* 0.8);

    // f.set_allow_check_multiple(false);

	$(document).on('click',choose_item_selector,function()
	{
		$(display_chart_modal_selector).modal({
            keyboard: false
        });
        $(display_chart_modal_selector).modal('show');
	});

	function selected_metric_2_name(current_selected_metrics)
	{
		var name = '';
		for (var option in current_selected_metrics)
        {
            // console.log(selected_metric_result[option]);
            for (var table_title in current_selected_metrics[option])
            {
                // console.log(table_title);
                var metric_count = current_selected_metrics[option][table_title]['metric_count'];
                if (metric_count > 0) {
                	var table_head = current_selected_metrics[option][table_title]['table_head'];

                	for (var metric_index in current_selected_metrics[option][table_title]['metric_result']) {
                    // console.log(selected_metric_result[option][table_title]['metric_result'][metric_index]);
	                    var name_str = '';
	                    name_str = current_selected_metrics[option][table_title]['metric_result'][metric_index][table_head.indexOf('Metric Name')];
	                    name += name_str + ';';
	                };
                };
            }
        }
        // console.log(name);
        return name;
	}


	$(document).on('click',confirm_item_selector,function()
	{
		$(display_chart_modal_selector).modal('hide');
		;

		var selected_metric_result;
        var chart_config;

        selected_metric_result = jQuery.extend(true, {}, f.get_selected_metric_result());
        chart_config = jQuery.extend(true, {}, f.get_chart_config());

        // current_selected_metrics = selected_metric_result;
        // current_chart_config = chart_config;

        // console.log(current_selected_metrics,current_chart_config);

        var hidden_series_info_value = JSON.stringify(selected_metric_result);
        $(hidden_series_info_selector).val(hidden_series_info_value);
        var display_str = selected_metric_2_name(selected_metric_result);
        $(choose_item_selector).val(display_str);
        // console.log($(hidden_series_info_selector).val());
	});

	$(display_chart_modal_selector).on('shown.bs.modal', function () {
        $(chart_div_selector).removeClass("hidden");
        $(top_category_main_selector).removeClass("hidden");
        f.div_chart_height = $(chart_div_selector).height();
        f.top_category_height = $(top_category_main_selector).height();
        f.set_other_height(f.div_chart_height+f.top_category_height);
        var chart_main_header_config_height = $(chart_main_header_div_selector).height();
        var chart_main_pagination_height = $(chart_main_pagination_selector).height();
        // // console.log(chart_main_header_config_height,chart_main_pagination_height);
        // // console.log(top_category_height);
        var tmp_chart_main_display_height = f.div_chart_height - chart_main_header_config_height - chart_main_pagination_height - 10;
        var tmp_chart_main_display_width = $(chart_main_display_container_selector).width();
        f.set_display_container_width(tmp_chart_main_display_width);
        $(chart_main_display_container_selector).height(tmp_chart_main_display_height);
        $(chart_div_selector).addClass("hidden");
        $(top_category_main_selector).addClass("hidden");
        if (f.get_display_chart() != undefined) {
            f.update_call();
        };
    });

    $(display_chart_modal_selector).on('hidden.bs.modal',function()
    {
        if (f.get_display_chart() != undefined) {
            f.get_display_chart().clear_chart();
        };
    });

	//form validator
	$('#fieldIconsForm').bootstrapValidator({
		feedbackIcons: {
			valid: 'glyphicon glyphicon-ok',
			invalid: 'glyphicon glyphicon-remove',
			validating: 'glyphicon glyphicon-refresh'
		},
		fields: {
			reportname: {
				feedbackIcons: 'false',
				validators: {
					notEmpty: {
						message: 'The report name is required and cannot be empty'
					}
				}
			},
			itemname: {
				feedbackIcons: 'false',
				validators: {
					stringLength: {
						min:0,
						message: 'You should choose at least one item'
					}
				}
			},
			timesince: {
				feedbackIcons: 'false',
				validators: {
					notEmpty: {
						message: 'The time since cannot be empty'
					}
				}
			},
			timetill: {
				feedbackIcons: 'false',
				validators: {
					notEmpty: {
						message: 'The time till cannot be empty'
					}
				}
			}
		}
	});
});
</script>

<form id="fieldIconsForm" class="form-horizontal" method="POST" action="">
    <div class="form-group">
        <label class="col-sm-3 control-label" for="exampleInputReportName1">Report name</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" id="exampleInputReportName1" placeholder="Enter Report Name" name="reportname">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label" for="choosemonitoritem">Items</label>
        <div class="col-sm-5">
          <input type="text" class="form-control" id="choosemonitoritem" placeholder="Click to choose and preview" name="itemname" readonly>
        </div>
    </div>

    <div class="form-group hidden">
        <label class="col-sm-3 control-label" for="hiddenselectedmetrics">Items</label>
        <div class="col-sm-5">
          <input type="text" class="form-control" id="hiddenselectedmetrics" placeholder="Choose items" name="selectedmetrics">
        </div>
    </div>
   
    <div class="form-group">
        <label class="col-sm-3 control-label" for="ScaleType">Scale Type</label>
        <div class="col-sm-5">
          <select class="form-control" id="ScaleType" name="scaletype">
            <option value=600>Ten Minute</option>
            <option value=3600>Hourly</option>
            <option value=86400>Daily</option>
            <option value=604800>Weekly</option>
          </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label" for="FunctionType">Function Type</label>
        <div class="col-sm-5">  
          <select class="form-control" id="FunctionType" name="functiontype">
            <option value=0>Count</option>
            <option value=1 selected>Avg</option>
            <option value=2>Max</option>
            <option value=3>Min</option>
            <option value=5>Sum</option>
          </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label" for="titleforreport">Title in email</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" id="titleforreport" placeholder="Title in email" name="title">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label" for="description">Description</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" id="description" placeholder="Description" name="description">
        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-5 col-sm-offset-3">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </div>
</form>


<div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog page" style="height:80% ; width:80%;">
                <div class="modal-content">
                    <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Choose Report Metrics</h4>
                    </div>
                    <div class="modal-body page-modal-body">
                        <div class="modal-main" style="overflow:hidden;padding:15px;">
                            {% include 'chart/window_main.html' %}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary confirm">Confirm Metrics</button>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}