<!doctype html>
<html>
<head>

<script type="text/javascript" src="{{url_for('static',filename='js/jquery-2.1.1.js')}}"></script>

</head>
<body>



<script type="text/javascript">
$(document).ready(function()
{
	var test = {
		"command": "UPGRADE",
		"content":"test"
	}
	var str = JSON.stringify(test);
	$.ajax({
		url: '/chart/overall/cd',
		dataType: 'json',
		type: 'post',
		data: {
			"REQUEST": "FIRMWAREUPGRADE",
			"DATA": {
			    "command": test,
			    "deviceId": 'AB:CD:EF:HI:JK'
			}
		},
		success: function (response) {
			// body...
			console.log(this);
			console.log(this.data);
		},
		error: function(xhr){
			console.log(this.data);
		}
	});


	cu = {
		local : []
	}

	cu.local.push(1);
	console.log(cu.local);
})
</script>



</body>
</html>