<!doctype html>
<html>
<head>

<script type="text/javascript" src="{{url_for('static',filename='js/jquery-2.1.1.js')}}"></script>

</head>
<body>



<script type="text/javascript">
$(document).ready(function()
{
	$.ajax({
		url: '/chart/overall/cd',
		dataType: 'json',
		type: 'post',
		data: {
			"REQUEST": "FIRMWAREUPGRADE",
			"DATA": {
			    "account": "email",
			    "command": "UPGRADE\n" + 'device["newest_url"]' + "\n",
			    "dev_address": 'a2:23:3d:4f:5f:1d' + "@" + 'device["az_ip"]' + "@" + 'device["az_dns"]',
			    "token" : 'token',
			    "idforcheckupdate": "a2:23:3d:4f:5f:1d".replace(/\:+/g, "").replace(/\-+/g,"")
			}
		},
		success: function (response) {
			// body...
			console.log(this);
			console.log(this.data);
		},
		error: function(xhr){
			console.log(this.data);
		}
	});


	cu = {
		local : []
	}

	cu.local.push(1);
	console.log(cu.local);
})
</script>



</body>
</html>