<link type="text/css" href="{{url_for('static',filename='css/window_base.css')}}" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/bootstrap-glyphicons.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/bootstrap-datetimepicker.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/jquery-ui.min.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/dataTables.bootstrap.css')}}">
<script type="text/javascript" src="{{url_for('static',filename='js/moment.js')}}"></script>
<script type="text/javascript" src="{{url_for('static',filename='js/jquery.dataTables.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static',filename='js/dataTables.bootstrap.js')}}"></script>


<script type="text/javascript" src="{{url_for('static',filename='js/bootstrap-datetimepicker.js')}}"></script>
<script type="text/javascript" src="{{url_for('static',filename='js/jquery-ui.min.js')}}"></script>




<div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="sidebar-page active"><a href="javascript:;" page="dashboard" class="sidebar-page">Dashboard <span class="sr-only">(current)</span></a></li>
            <li class="sidebar-page"><a href="javascript:;" page="billing" class="sidebar-page">Billing</a></li>
            <li class="sidebar-page">
            	<a href="javascript:;" page="metric" class="sidebar-page">Metric</a>
            	<ul>
                    <li class="selected-metrics"><a href="javascript:;" class="sidebar-option" locate="main-sidebar">Selected Metrics</a></li>
                    <li><a href="javascript:;" option="Basic Metrics" class="sidebar-option" locate="main-sidebar">Basic Metrics</a></li>
                    {% for s in services %}
                        <li><a href="javascript:;" option="{{s.servicename}}" class="sidebar-option" locate="main-sidebar">{{s.servicename}}</a></li>
            		{% endfor %}
            	</ul>
            </li>
            <li class="sidebar-page">
                <a href="javascript:;" class="sidebar-load">History Chart Saved</a>
                <ul class="sidebar-load-ul">
                    {% for w in windows %}
                        <li>
                            <a href="javascript:;" class="chart-saved-li" indexId="{{w.windowid}}" name="{{w.windowname}}">{{w.windowname}}
                                <span class="glyphicon glyphicon-remove remove" aria-hidden="true" indexId="{{w.windowid}}"></span>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
            <li class="sidebar-page">
                <a href="javascript:;" class="sidebar-save">Click Save Button to Save</a>
                <div class="navbar-form">
                    <input type="text" class="form-control save-name" placeholder="input saved name">
                    <button class="btn btn-default form-control save">Save</button>
                </div>
            </li>
          </ul>
          
          
        </div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            
            
            
            {% include 'chart/window_main.html' %}

            
        </div>
      </div>
</div>
