

<!doctype html>
<html>
<head>
    {% if title %}
    <title>{{ title }} - Monitor</title>
    {% else %}
    <title>Monitor</title>
    {% endif %}
    <link href="{{url_for('static',filename='css/style.css')}}" rel="stylesheet"></link>
    <link href="{{url_for('static',filename='css/bootstrap.min.css')}}" rel="stylesheet" media="screen"></link>
    <link href="{{url_for('static',filename='css/bootstrap-theme.min.css')}}" rel="stylesheet" ></link>
    <link href="{{url_for('static',filename='css/carousel.css')}}" rel="stylesheet" ></link>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/bootstrapValidator.css')}}"></link>
    <script type="text/javascript" src="{{url_for('static',filename='js/jquery-2.1.1.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename='js/bootstrapValidator.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename='js/highstock.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename='js/chart.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename='js/window_base.js')}}"></script>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    
</head>

<script type="text/javascript">
$(document).ready(function()
{

    var itemtypetags = {{ itemtypenames|safe }};
    var aws_itemtypetags = {{ aws_itemtypenames|safe }};
    // console.log(aws_itemtypetags);
    // console.log(itemtypetags);

    set_auto_complete_in_dashboard();
    set_auto_complete_in_main();
    set_auto_complete_in_billing();

    function set_auto_complete_in_dashboard()
    {
        // var new_arr = $.merge( itemtypetags, aws_itemtypetags);
        var db_search_input_selector = "input.dashboard-search";
        $(db_search_input_selector).autocomplete({
            source: itemtypetags
        });
    }

    function set_auto_complete_in_main()
    {
        var main_search_input_selector = "input.main-search";
        $(main_search_input_selector).autocomplete({
            source: itemtypetags
        });
    }

    function set_auto_complete_in_billing()
    {
        var billing_search_input_selector = 'input.billing-search';
        $(billing_search_input_selector).autocomplete({
            source: aws_itemtypetags
        });
    }

    var f = new window_base($(window).height() - $('div.navbar-fixed-top').height() - 20);

    // f.set_main_height($(window).height() - $('div.navbar-fixed-top').height() - 20);
    
    $(window).resize(function(e)
    {
        if (e.target == window)
        {
            f.resize_caller($(window).height() - $('div.navbar-fixed-top').height() - 20);
        }
    });

    // $(window).load(function()
    // {
    //     f.window_load_set();
    // });


});
</script>


<body class="window-base-body" style="padding-bottom:0px">


<div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ url_for('index') }}">Monitor</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{{url_for('auth.config')}}">Auth </a></li>
                    <li><a href="{{url_for('chart.mainboard')}}">Chart </a></li>
                    <li><a href="{{url_for('item.mainboard')}}">Item </a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if g.user.is_authenticated() %}
                    <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
                    {% else %}
                    <li><a href="{{ url_for('auth.login') }}">Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
</div>
        



    {% include 'chart/window_base.html' %}



</body> 
</html>


