<div class="row indexmain">
                <div class="jumbotron dashboard-main">
                    <h1>Metric Summary</h1>
                    <p>Monitor monitors operational and performance metrics for your cloud resources and applications.</p>
                    <p>Browse or search your metrics to get started graphing data.</p>
                    <div class="navbar-form">
                        <button class='btn btn-primary form-control browsemetric' type="button">Browse Metrics</button>
                        <input type=text class="form-control search" placeholder="input Metrics Name"/>
                    </div>
                    
                </div>
            </div>